<div class="pagetitle">
    <h1>Solicitudes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <!-- <li class="breadcrumb-item">Gestión</li> -->
            <li class="breadcrumb-item active">Ver solicitudes</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<app-container>
  

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Datos de la solicitud</h5>
            <div class="row font-4 mt-2">

                <div class="col-12 col-ms-6 col-md-12"> <strong style="width: 200px !important;">Código : </strong>
                    <span> {{vcodigosolicitud}} </span>
                </div>
                <div class="col-12 col-ms-6 col-md-12"> <strong style="width: 200px !important;">Usuario : </strong>
                    <span> {{nombreusuario  }}   {{apellidoUsuario}} </span>
                </div>
                <div class="col-12 col-ms-6 col-md-12"> <strong style="width: 200px !important;">E-mail : </strong>
                    <span> {{mailusuario}} </span>
                </div>
                <div class="col-12 col-ms-6 col-md-12"><strong>Dirección : </strong> <span> {{desdireccion}} </span>
                </div>
                <div class="col-12 col-ms-6 col-md-12"><strong>Fecha : </strong> <span> {{fecha_string}} </span>


                </div>
                <div class="col-12 col-ms-6 col-md-12"><strong>Observación Usuario : </strong> <span> {{vobservacion}}
                    </span></div>

                <!-- <div class="col-12 col-ms-6 col-md-12"><strong>Estado : </strong> <span> {{desestado}} </span></div> -->
                <!-- <div class="col-12 col-ms-6 col-md-12"><strong>Estado : </strong>

                    <span class="badge  font-4  " [class]="colorestados">

                        <small>{{desestado }} </small>

                    </span>


                </div> -->

            </div>
        </div>

    </div>
    <div class="card" *ngIf="tipoSolExistente || tipoSolNuevo">
        <div class="card-body">
            <h5 class="card-title" >Operaciones</h5>
            <app-preloader *ngIf="preloader" size="small" message="Generando Solicitud....."></app-preloader>      

            <form class="row font-4 mt-2" *ngIf="!preloader"  [formGroup]="mantenedorFormSolUser">
                <div class="col-12 col-ms-6 col-md-4">
                  <mat-form-field appearance="outline" class="w-100  ">
                    <mat-label>Estado Solicitud</mat-label>
                    <!-- <input matInput formControlName="idtipo_usuario" autocomplete="off" /> -->
        
                    <mat-select formControlName="idestado" (selectionChange)="selectTipo($event.value)">
                      <mat-option [value]="1">Enviada</mat-option>
                      <mat-option [value]="2">En Proceso</mat-option>
                      <mat-option [value]="3">Cerrada</mat-option>
                      <!-- <mat-option value="M">Mantención</mat-option>
                            <mat-option value="R">Reciclado</mat-option> -->
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-ms-6 col-md-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Observación IT</mat-label>
                    <!-- <input matInput formControlName="vobservacion" autocomplete="off" /> -->
                    <textarea matInput maxlength="999" cols="50" rows="5" formControlName="observacion"
                      autocomplete="off"></textarea>
                  </mat-form-field>
                </div>
               
              </form>


            <app-block>
                <div class="row" *ngIf="!preloader">
                    <div class="col-12 col-ms-6 col-md-12 text-end font-3">
        
                        
                        <button type="button"  *ngIf="tipoSolExistente && this.vmP.solicitudEditable" (click)="abreasignaciones()" class="btn btn-success text-light ms-3">
                            <mat-icon class="material-symbols-outlined align-middle me-1">library_add</mat-icon>
                            <span class="align-middle">Ver Asignaciones</span>
                        </button>
                        <button type="button"  *ngIf="tipoSolExistente && this.vmP.solicitudEditable" (click)="solicitaretirohardware()" class="btn btn-success text-light ms-3">
                            <mat-icon class="material-symbols-outlined align-middle me-1">send</mat-icon>
                            <span class="align-middle">Retiro GTEK</span>
                        </button>
                        <button type="button"  *ngIf="tipoSolNuevo  " (click)="generarcotizaion()" class="btn btn-success text-light ms-3">
                            <mat-icon class="material-symbols-outlined align-middle me-1">store</mat-icon>
                            <span class="align-middle">Cotizar en GTEK</span>
                        </button>
                        <button type="button" *ngIf="this.vmP.solicitudEditable"  (click)="guardar()" class="btn btn-primary text-light ms-3">
                            <mat-icon class="material-symbols-outlined align-middle me-1">save</mat-icon>
                            <span class="align-middle">Guardar</span>
                        </button>
                        <button type="button" (click)="volver()" class="btn btn-danger text-light ms-3">
                            <mat-icon class="material-symbols-outlined align-middle me-1">arrow_back_ios</mat-icon>
                            <span class="align-middle">Volver</span>
                        </button>
                    </div>
                </div>
            </app-block>

        </div>
    </div>

    <div class="card" *ngIf="tipoSolExistente || tipoSolNuevo">
        <div class="card-body">
            <h5 class="card-title" *ngIf="tipoSolExistente">Hardware para mantención</h5>
            <h5 class="card-title" *ngIf="tipoSolNuevo">Hardware nuevo</h5>


            <app-table [border-block]="true" [filter-columns]="false" [filter]="true" [sticky-last]="true"
                [header-table]="tableHeadMaintainer" [tableData]="tableDataMaintainer"></app-table>




        </div>
    </div>
    <div class="card" *ngIf="tipoSolExistente || tipoSolNuevo">
        <div class="card-body">
            <h5 class="card-title" >Bitácora </h5>
        

            <app-bitacora-list></app-bitacora-list>




        </div>
    </div>
    <div class="card" *ngIf="tipoSolExistente || tipoSolNuevo">
        <div class="card-body">
            <h5 class="card-title">Comentarios</h5>


            <app-observaciones-solicitud-list></app-observaciones-solicitud-list>




        </div>
    </div>
  
</app-container>