.fondo-login{
  background-image: url('../../../assets/img/fondo-login.jpg') ;
   

  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  
}
.card {
 
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
  
    box-shadow: 30px 30px 30px rgba(1, 34, 90, 0.1);
  }
  
  .card-header,
  .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
  }
  
  .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }
  
  .card-subitulo {
    
    font-size: 14px;
    font-weight: 500;
  }
  
  .card-body {
    padding: 0 20px 20px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  
  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .logo {
    line-height: 1;
  }
  
  @media (min-width: 1200px) {
    .logo {
      width: 280px;
    }
  }
  
  .logo img {
    max-height: 66px;
    margin-right: 6px;
  }
  
  .logo span {
    font-size: 66px;
    font-weight: 700;
    color: #012970;
    
  }
  .titulo-cerrar:hover::before{
    background-color: none;
    border: none;
}

.titulo-cerrar{
	border: none;
	background-color: none;
	background-color: transparent;
	outline:none;

}