<!-- <app-title-page font-1 title="Gestión / hardware"></app-title-page> -->
<div class="pagetitle">
  <h1>Gestión de Hardware</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
      <!-- <li class="breadcrumb-item">Gestión</li> -->
      <li class="breadcrumb-item active">Gestión Hardware</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<app-container>
  <app-block>
    <form class="row font-4" [formGroup]="mantenedorFormHardware">

      <ng-container *ngIf="check_tipo==1">
        <div class="col-12 col-ms-6 col-md-6 font-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Empresa</mat-label>

            <mat-select formControlName="empresa" (openedChange)="myInput.focus()">
              <input class="myInput font-3" maxlength="30" #myInput matInput focused="'true'" type="text"
                (keyup)="search($event )" autocomplete="off" placeholder="Buscar Empresa">
              <mat-option value="0">Todas</mat-option>
              <mat-option *ngFor="let _dataempresas of dataempresas" [value]="_dataempresas.idempresa">
                <span>{{_dataempresas.vnombreEmpresa}}</span>
                <!-- |  <small>Region: {{_datadatabodegas.desregion}}</small> -->
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <div class="col-12 col-ms-6 col-md-6">
        <mat-form-field appearance="outline" class="w-100  ">
          <mat-label>Ítems</mat-label>
          <!-- <input matInput formControlName="idtipo_usuario" autocomplete="off" /> -->

          <mat-select formControlName="items">
            <mat-option value="0">Todos</mat-option>
            <mat-option *ngFor="let _dataitems of dataitems" [value]="_dataitems.iditems">
              <span>{{_dataitems.desitems}}</span>

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100  ">
          <mat-label>Estado</mat-label>
          <!-- <input matInput formControlName="idtipo_usuario" autocomplete="off" /> -->

          <mat-select formControlName="estado">
            <mat-option value="0">Todos</mat-option>
            <mat-option value="A">Asignado</mat-option>
            <mat-option value="D">Disponible</mat-option>
            <mat-option value="M">Mantención</mat-option>
            <mat-option value="R">Reciclado</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-12 text-end font-3">
        <button type="button" (click)="getBuscar()" class="btn btn-success text-light ms-3"  >
          <mat-icon class="material-symbols-outlined align-middle me-1">search</mat-icon>
          <span class="align-middle">Buscar</span>
        </button>

        <button type="button" (click)="add()" class="btn btn-primary text-light ms-3"  >
          <mat-icon class="material-symbols-outlined align-middle me-1">Add</mat-icon>
          <span class="align-middle">Agregar</span>
        </button>
        <button type="button" (click)="bodegas()" class="btn btn-outline-info   ms-3" matTooltip="Mis Bodegas" >
          <mat-icon class="material-symbols-outlined align-middle me-1">store</mat-icon>
          
        </button>
        <button type="button" (click)="abremodalcarga()" class="btn btn-outline-success  ms-3" matTooltip="Cargar Excel" >
          <mat-icon class="material-symbols-outlined align-middle me-1">file_upload</mat-icon>
          
        </button>
      </div>
    </form>

  </app-block>
</app-container>
<ng-container>
  <!-- <app-title-page 
    title="hardware" 
    btn-icon="add" 
    btn-text="Agregar" 
    routerLink="add"></app-title-page> -->

  <app-table (actionClick)="outputAction($event)" [border-block]="true" [filter-columns]="false" [filter]="true"
    [sticky-last]="true" [actions]="actionsMaintainer" [header-table]="tableHeadMaintainer"
    [tableData]="tableDataMaintainer"></app-table>
</ng-container>