 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
    <div class="copyright">
        &copy;Copyright <strong><span>Risk-ID</span></strong>. Todo Los Derechos Reservados
    </div>
    <div class="credits">
        <!-- Desarrollado por <a href="https://gtek.cl" target="_blank">Gtek</a>  -->
        <!-- Desarrollado por <a href="mailto:alex.mansilla.t@gmail.com" target="_blank">Alex Mansilla</a>  -->
    <small class="d-block font-2">Desarrollado por:</small>
    <a href="mailto:alex.mansilla.t@gmail.com" target="_blank">Alex Mansilla</a>
    </div>
     
</footer><!-- End Footer -->
 
