.dropDown-seasons-panel {
    border-radius: 10px !important;
    border: 1px solid gray !important;
    position: absolute !important;
    top: 50px !important;
  }
    .myInput {
    height: 30px !important;
    width: 90% !important;
    padding: 10px !important;
  }