<!-- <app-title-page title="Gestión / Usuarios"></app-title-page> -->
<div class="pagetitle">
  <h1>Gestión de Usuarios</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <!-- <li class="breadcrumb-item">Gestión</li> -->
          <li class="breadcrumb-item active">Gestión Usuarios</li>
      </ol>
  </nav>
  
</div><!-- End Page Title -->
<app-container>
    <app-block > 
    <form class="row font-4" [formGroup]="mantenedorFormUsuario">

        <ng-container   >
            <div class="col-12 col-ms-6 col-md-8 font-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Empresa</mat-label>
        
                  <mat-select formControlName="idempresa" (openedChange)="myInput.focus()">
                    <input class="myInput font-3" maxlength="30" #myInput matInput focused="'true'" type="text"
                      (keyup)="search($event )" autocomplete="off" placeholder="Buscar Empresa">
                    <mat-option value="0">Todas</mat-option>
                    <mat-option *ngFor="let _dataempresas of dataempresas" [value]="_dataempresas.id">
                      <span>{{_dataempresas.nombre}}</span>
                      <!-- |  <small>Region: {{_datadatabodegas.desregion}}</small> -->
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
        </ng-container>
        <!-- <div class="col-12 col-ms-6 col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>E-Mail</mat-label>

                <input matInput placeholder="E-mail" (keyup)="validarmail()" formControlName="mailusuario" />
                <mat-error>
                    {{erromail}}
                </mat-error>


            </mat-form-field>
        </div> -->
        <!-- <div class="col-12 col-ms-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100  ">
              <mat-label>Tipo Usuario</mat-label>
             
              
              <mat-select formControlName="idtipo_usuario"  >
                <mat-option value="0">Todos</mat-option>
                <mat-option *ngFor="let _datatipousuario of datatipousuario" [value]="_datatipousuario.idtipo_usuario">
                  <span>{{_datatipousuario.destipousuario}}</span>
    
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
     -->
        <div class="col-12 col-ms-6 col-md-12 text-end font-3">
            <button type="button"   (click)="getData()" class="btn btn-success text-light ms-3">
                <mat-icon class="material-symbols-outlined align-middle me-1">search</mat-icon>
                <span class="align-middle">Buscar</span>
              </button>
            
            <button type="button"   (click)="add()" class="btn btn-primary text-light ms-3">
                <mat-icon class="material-symbols-outlined align-middle me-1">Add</mat-icon>
                <span class="align-middle">Agregar</span>
              </button>
        </div>
    </form>

</app-block>
</app-container>
 




<ng-container>
    

    <app-table (actionClick)="outputAction($event)" [border-block]="true" [filter-columns]="false" [filter]="true"
        [sticky-last]="true" [actions]="actionsMaintainer" [header-table]="tableHeadMaintainer"
        [tableData]="tableDataMaintainer"></app-table>
</ng-container>