
<!-- Pantalla de Incidente basada en el HTML adjunto, adaptada a Angular Material y español -->
<div class="container-fluid">
     <mat-card class="mb-3">
  <mat-card-title>lugar y momento del Incidente</mat-card-title>  
                agregar centro de trabajo seleccionble
        <mat-card-content>
            <form class="row font-4" [formGroup]="incidenteForm">
                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Proceso</mat-label>
                        <mat-select formControlName="proceso" [disabled]="!isEditable('proceso')">
                            <mat-option *ngFor="let p of procesos" [value]="p.id">{{p.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Actividad</mat-label>
                        <mat-select formControlName="actividad" [disabled]="!isEditable('actividad')">
                            <mat-option *ngFor="let a of actividades" [value]="a.id">{{a.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tarea</mat-label>
                        <mat-select formControlName="tarea" [disabled]="!isEditable('tarea')">
                            <mat-option *ngFor="let t of tareas" [value]="t.id">{{t.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-12 col-md-3">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>Tipo de Tarea</mat-label>
					<mat-select formControlName="tipoTarea" [disabled]="!isEditable('tipoTarea')">
						<mat-option *ngFor="let tt of tiposTarea" [value]="tt.id">{{tt.nombre}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div> -->
            </form>

        </mat-card-content>
    </mat-card>


	<mat-card class="mb-4">
	  <mat-card-title>
				<mat-icon>assignment</mat-icon> datos del incidente
			</mat-card-title>    
     
        
		<mat-card-content>
			<form class="row g-3">
				<div class="col-md-6">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>Nombre del incidente</mat-label>
						<input matInput placeholder="Ej: Caída en área de producción">
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>riesgo</mat-label>
						<mat-select>
							<mat-option value="" disabled selected> riesgo</mat-option>
							<mat-option value="risk1">Bajo</mat-option>
							<mat-option value="risk2">Medio</mat-option>
							<mat-option value="risk3">Alto</mat-option>
							<mat-option value="risk4">Crítico</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>Ubicación</mat-label>
						<mat-select>
							<mat-option value="" disabled selected>Seleccione la ubicación</mat-option>
							<mat-option value="main-building">Edificio principal</mat-option>
							<mat-option value="warehouse">Bodega</mat-option>
							<mat-option value="production-area">Área de producción</mat-option>
							<mat-option value="offices">Oficinas</mat-option>
							<mat-option value="external">Área externa</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>Peligro adicional</mat-label>
						<mat-select>
							<mat-option value="" disabled selected>Seleccione el peligro adicional</mat-option>
							<mat-option value="none">Ninguno</mat-option>
							<mat-option value="chemical">Exposición a químicos</mat-option>
							<mat-option value="fire">Incendio</mat-option>
							<mat-option value="electrical">Eléctrico</mat-option>
							<mat-option value="biological">Biológico</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
                 <div class="col-12 col-md-8">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Factores de Riesgo</mat-label>
                        <mat-select formControlName="factoresRiesgo" multiple
                            [disabled]="!isEditable('factoresRiesgo')">
                            <mat-option *ngFor="let fr of factoresRiesgo" [value]="fr.id">{{fr.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

			</form>
		</mat-card-content>
	</mat-card>

  
	<!-- Actividades de control (diálogo) -->
	<ng-template #dialogActividadesControl>
		<h2 mat-dialog-title>Actividades de control</h2>
		<mat-dialog-content>
			<mat-checkbox>Inspección regular</mat-checkbox><br />
			<mat-checkbox>Capacitación en seguridad</mat-checkbox><br />
			<mat-checkbox>Uso de equipo de protección</mat-checkbox><br />
			<mat-checkbox>Colocación de señalización de advertencia</mat-checkbox><br />
			<mat-checkbox>Procedimientos de emergencia</mat-checkbox><br />
			<mat-checkbox>Programa de mantenimiento</mat-checkbox>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-flat-button color="primary" mat-dialog-close>Guardar</button>
		</mat-dialog-actions>
	</ng-template>

	<!-- Población afectada -->
	<mat-card class="mb-4">
			<mat-card-title>
				<mat-icon>groups</mat-icon> Población afectada
			</mat-card-title>
		<mat-card-content>
			<div class="row mb-3">
				<div class="col-md-8">
					  <mat-label>Seleccione un grupo de población para agregar</mat-label>
					<mat-selection-list>
						<mat-list-option><mat-icon matListIcon>people</mat-icon> Todo el personal</mat-list-option>
						<mat-list-option><mat-icon matListIcon>badge</mat-icon> Gerencia</mat-list-option>
						<mat-list-option><mat-icon matListIcon>engineering</mat-icon> Personal de producción</mat-list-option>
						<mat-list-option><mat-icon matListIcon>build</mat-icon> Equipo de mantenimiento</mat-list-option>
						<mat-list-option><mat-icon matListIcon>person_add</mat-icon> Visitantes</mat-list-option>
						<mat-list-option><mat-icon matListIcon>work</mat-icon> Contratistas</mat-list-option>
					</mat-selection-list>
				</div>
				<div class="col-md-4 d-flex align-items-end">
					  <button mat-raised-button color="primary" class="w-100">Agregar grupo seleccionado</button>
				</div>
			</div>
			<!-- Tarjeta de población ejemplo -->
			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>Todo el personal</mat-panel-title>
						<mat-panel-description>Cantidad: 150</mat-panel-description>
					</mat-expansion-panel-header>
					<div class="row mb-2">
						<div class="col-md-6">
							<mat-form-field appearance="outline" class="w-100">
								<mat-label>Cantidad de personas</mat-label>
								<input matInput type="number" min="1" value="150">
							</mat-form-field>
						</div>
						<div class="col-md-6">
							<mat-form-field appearance="outline" class="w-100">
								<mat-label>Notas adicionales</mat-label>
								<input matInput placeholder="Ej: Turno noche, personal externo, etc.">
							</mat-form-field>
						</div>
					</div>
					<div>
						<h6>Factores de riesgo y medidas de control</h6>
						<mat-chip-list>
							<mat-chip color="primary" selected>Pisos resbaladizos</mat-chip>
							<mat-chip>Riesgo eléctrico</mat-chip>
						</mat-chip-list>
                        aqui por cada factor de riesgo agregsar un texto y observacion con la media de control por cada uno
                        selecciona por cada una las actividades de control
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-card-content>
	</mat-card>

 
</div>
