<app-container>
	<app-block>
		<form class="row font-3" [formGroup]="mantenedorForm">
			<div class="col-12 col-ms-12 col-md-12">


				<div class="card info-card sales-card">

					<h5 class="card-title ms-3 mt-1">Creación del Incidente</h5>
					<h6 class="card-subtitle ms-3  text-muted">Datos minimo para la creacion de un incidintes</h6>

					<div class="card-body">
						<div class="row font-3">
							<div class="col-12 col-md-12">
								<!-- *ngIf="mostrarCentroTrabajo"  -->
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Centro de trabjo</mat-label>
									<mat-select formControlName="idcentrodetrabajo"
										(selectionChange)="getDataStareas($event.value)">
										<mat-option class="font-4" value="">Seleccione</mat-option>
										<mat-option class="font-4" *ngFor="let p of centrosdetrabajo"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-12 col-md-12">
								<!-- <mat-form-field appearance="outline" class="w-100">
									<mat-label>Tarea</mat-label>
									<mat-select formControlName="tareaId">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let t of tareas" [value]="t.id">{{t.nombre}}</mat-option>
									</mat-select>
								</mat-form-field> -->

								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Tareas</mat-label>
									<!-- <input matInput formControlName="id_empresa_recolectora" autocomplete="off" /> -->
									<mat-select formControlName="tareaId"
										(selectionChange)="agregarprocesossubproceso($event.value)"
										(openedChange)="myInput.focus()">
										<input class="myInput font-3" maxlength="30" #myInput matInput focused="'true'"
											type="text" (keyup)="search2($event )" autocomplete="off"
											placeholder="Buscar Tarea">
										<mat-option class="font-4"  value="0">Seleccione</mat-option>
										<mat-option class="font-4"  *ngFor="let t of selectedtareas" [value]="t.id">
											<span> <strong>Tarea:</strong> {{t.nombre}}, <strong>Actividad:</strong> {{t.subProcesoNombre}}, <strong>Proceso:</strong> {{t.procesoNombre}}</span>

										</mat-option>
									</mat-select>
									<mat-hint  class="fw-medium font-1 ">Centro de trabajo asociado</mat-hint>
								</mat-form-field>


							</div>

							<div class="col-12 col-ms-6 col-md-12 mt-1">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Descripción del incidente</mat-label>
									<input matInput formControlName="nombre" autocomplete="off" />
								</mat-form-field>
							</div>
						</div>


					</div>

				</div>




			</div>

			<div class="col-12 col-ms-12 col-md-12">


				<div class="card info-card sales-card">

					<h5 class="card-title ms-3 mt-1">Clasificación del incidente</h5>
					<h6 class="card-subtitle ms-3 text-muted ">Ingrese los datos del incidente </h6>

					<div class="card-body">
						<div class="row font-3">


							<div class="col-12 col-ms-6 col-md-12"></div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Ubicación</mat-label>
									<mat-select formControlName="ubicacionId">
										<mat-option *ngIf="addubicacionnow" (click)="addubicacion()"
											class="text-primary">
											<mat-icon>add</mat-icon> Agregar Ubicación
										</mat-option>
										<mat-option class="font-4"  value="">Seleccione</mat-option>
										<mat-option class="font-4"  *ngFor="let p of dataubicaciones"
											[value]="p.id">{{p.nombre}}</mat-option>
										<mat-divider></mat-divider>

									</mat-select>
									<!-- <button *ngIf="addubicacionnow" (click)="addubicacion()" mat-icon-button matSuffix>
                            				<mat-icon>add</mat-icon> </button> -->
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Riesgo</mat-label>
									<mat-select formControlName="riesgoId">
										<mat-option *ngIf="addriesgonow" (click)="addriesgo()" class="text-primary">
											<mat-icon>add</mat-icon> Agregar Riesgo
										</mat-option>
										<mat-option class="font-4"  value="">Seleccione</mat-option>
										<mat-option class="font-4"  *ngFor="let p of datariesgos" [value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Peligros adionales</mat-label>

									<mat-select formControlName="peligroAdicionalId">
										<mat-option *ngIf="addpeligroadicionalnow" (click)="addpeligroadicional()"
											class="text-primary">
											<mat-icon>add</mat-icon> Agregar Peligro Adicional
										</mat-option>
										<mat-option class="font-4"  value="">Seleccione</mat-option>
										<mat-option class="font-4" *ngFor="let p of datapeligrosadionales"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<!-- <div class="col-12 col-ms-6 col-md-8">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>rutina</mat-label>
									<input matInput formControlName="rutina" autocomplete="off" />
								</mat-form-field>
							</div> -->
							<div class="col-12 col-ms-6 col-md-12"></div>

							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Areas</mat-label>
									<mat-select formControlName="areaId">
										<mat-option class="font-4"  value="">Seleccione</mat-option>
										<mat-option class="font-4"  *ngFor="let p of dataareas" [value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Factores de Riesgo</mat-label>
									<mat-select formControlName="factoresRiesgoIds" multiple
										(selectionChange)="onFactoresRiesgoChange($event.value)">
										<mat-option class="font-4"  value="" disabled selected> Seleccione</mat-option>
										<mat-option class="font-4"  *ngFor="let p of datafactoresriesgo" [value]="p.id">{{p.nombre}}</mat-option>
										 
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Peligros</mat-label>
									<mat-select formControlName="peligrosIds" multiple>
										<mat-option class="font-4"  value="" disabled selected> Seleccione</mat-option>
										<mat-option class="font-4" *ngFor="let p of datapeligros"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<!-- <div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Estados</mat-label>
									<mat-select formControlName="estado">
										<mat-option value="" disabled selected> Seleccione</mat-option>
										<mat-option value="En Revisión">En Revisión</mat-option>
										<mat-option value="Revisado">Revisada</mat-option>
										<mat-option value="Aprobado">Aprobado</mat-option>
										<mat-option value="Desaprobado">Desaprobado</mat-option>
									</mat-select>
								</mat-form-field>

							</div> -->
						</div>


					</div>

				</div>

			</div>

			<div class="col-12 col-ms-12 col-md-12">


				<div class="card info-card sales-card font-3">
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<h5 class="card-title ms-3 mt-1">Personal Afectado</h5>
							<h6 class="card-subtitle ms-3 text-muted" *ngIf="!personalAfectadoCollapsed">
								Agregue grupos de población de la lista a continuación.
								Cada grupo tendrá una tarjeta donde podrá especificar el tamaño de la población y
								agregar
								medidas de control para cada factor de riesgo.
							</h6>
						</div>
						<button mat-icon-button type="button"
							(click)="personalAfectadoCollapsed = !personalAfectadoCollapsed">
							<mat-icon>{{ personalAfectadoCollapsed ? 'expand_more' : 'expand_less' }}</mat-icon>
						</button>
					</div>
					<div class="card-body" *ngIf="!personalAfectadoCollapsed">
						<div class="row font-3">
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Cargo Personal</mat-label>
									<mat-select formControlName="cargoPersonal">
										<mat-option class="font-4" value="">Seleccione</mat-option>
										<mat-option class="font-4" *ngFor="let p of datacargospersonal"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4 ">
								<button mat-raised-button color="primary" type="button"
									(click)="agregarCargoPersonal()">
									<mat-icon>add</mat-icon> Agregar
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>


		</form>
		<!-- Cards dinámicas para cada cargo seleccionado -->
		<div class="row mt-3 font-3" *ngIf="cargosSeleccionados.length > 0">
			<div class="col-12 col-ms-6 col-md-12" *ngFor="let cargo of cargosSeleccionados">
				<div class="card info-card sales-card">
					<div class="d-flex justify-content-between align-items-start mb-2">
						<h6 class="card-title ms-3 mt-1">{{ cargo.nombre }}</h6>
						<button mat-icon-button color="warn" type="button" (click)="eliminarCargoPersonal(cargo.linea)"
							style="margin-left:auto;">
							<mat-icon>delete</mat-icon>
						</button>

					</div>
					<h6 class="card-subtitle ms-3 text-muted ">Personal Afectado para {{
						cargo.nombre }} ingrese la cantidad de personas y daños probalbles </h6>
					<div class="card-body">

						<div class="row font-3">
							<div class="col-12 col-ms-6 col-md-8">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Caracterización</mat-label>
									<mat-select [(ngModel)]="cargo.caracterizacionId"
										name="caracterizacionId_{{cargo.linea}}" [ngModelOptions]="{standalone: true}">
										<mat-option class="font-4" value="">Seleccione</mat-option>
										<mat-option class="font-4" *ngFor="let p of datacarectizacionpersonal"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-2">
								<mat-form-field appearance="outline" class="w-100 mb-2">
									<mat-label>Cantidad de personas</mat-label>
									<input matInput type="number" min="1" [(ngModel)]="cargo.cantidadPersonal"
										name="cantidadPersonal_{{cargo.linea}}" [ngModelOptions]="{standalone: true}" />
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-8">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Daños probables</mat-label>
									<mat-select [(ngModel)]="cargo.datadanosProbables"
										name="datadanosProbables_{{cargo.linea}}" [ngModelOptions]="{standalone: true}"
										multiple>
										<mat-option class="font-4" *ngFor="let d of datadanosProbables"
											[value]="d.nombre">{{d.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

						</div>
						<!-- <div class="row" *ngIf="modelo.origen!='I'">
							<div class="col-12 d-flex justify-content-center align-items-center mb-3">
								<button mat-stroked-button color="primary" type="button" class="me-2">
									Evaluación del Riesgo Puro
								</button>
								<button mat-stroked-button color="primary" type="button">
									Evaluación del Riesgo Residual
								</button>
							</div>

						</div> -->
						<div class="row" *ngIf="modelo.origen!='I'">
							<div class="col-12 d-flex justify-content-center align-items-center mb-3">
								<button (click)="openEvaluacionRiesgoModal('P',cargo,getFactoresPorCargo(cargo.linea))" class="me-3" mat-raised-button *ngIf="cargo.evaluacion[0]?.resultadoPuro>0"
									[ngStyle]="{'background': cargo.evaluacion[0]?.colorRpuro, 'color': '#fff', 'font-weight': 'bold'}"
									>
									Riesgo Puro {{ cargo.evaluacion[0]?.magnitudRPuroNombre }}
									({{cargo.evaluacion[0]?.resultadoPuro}})
								</button>
								<button (click)="openEvaluacionRiesgoModal('P',cargo,getFactoresPorCargo(cargo.linea))"  *ngIf="cargo.evaluacion[0]?.resultadoPuro<=0" mat-stroked-button color="primary" type="button" class="me-2">
									Evaluación del Riesgo Puro
								</button>
								<button (click)="openEvaluacionRiesgoModal('R',cargo,getFactoresPorCargo(cargo.linea))"	 class="me-3" mat-raised-button *ngIf="cargo.evaluacion[0]?.resultadoResidual>0"
									[ngStyle]="{'background': cargo.evaluacion[0]?.colorResidual, 'color': '#fff', 'font-weight': 'bold'}"
									>
									Riesgo Residual {{ cargo.evaluacion[0]?.magnitudRResidualNombre }}
									({{cargo.evaluacion[0]?.resultadoResidual}})
								</button>
									<button (click)="openEvaluacionRiesgoModal('R',cargo,getFactoresPorCargo(cargo.linea))" *ngIf="cargo.evaluacion[0]?.resultadoResidual<=0" mat-stroked-button color="primary" type="button" class="me-2">
										Evaluación del Riesgo Residual
									</button>
							</div>
						</div>
						<!-- Cards dinámicas por factor de riesgo para este cargo -->
						<div class="row font-3 mt-1" *ngIf="controlesPorCargo.length > 0">
							<div class="col-12 col-md-12" *ngFor="let control of getFactoresPorCargo(cargo.linea)">
								<div class="card info-card sales-card">
									<div class="d-flex justify-content-between align-items-start mb-2">
										<span class="font-4 card-title ms-3">{{
											getNombreFactorRiesgo(control.factorRiesgoId) }}</span>
										<button mat-icon-button type="button"
											(click)="control.collapsed = !control.collapsed">
											<mat-icon>{{ control.collapsed ? 'expand_more' :
												'expand_less' }}</mat-icon>
										</button>
									</div>
									<h6 class="card-subtitle ms-3 text-muted">Agregar medidas de
										control para el factor de riesgo</h6>
									<div class="card-body p-2" *ngIf="!control.collapsed">
										<div class="row">
											<div class="mt-2 mb-2 col-12">
												<button mat-button color="primary" type="button"
													(click)="agregarMedidaDeControl(control)">
													<mat-icon>add</mat-icon> Medidas de control
												</button>

											</div>
											<div class="col-12 ">
												<div class="table-responsive">
													<table class="w-100">
														<tbody>
															<tr style="border: 1px solid #e0e0e0; border-radius: 6px; padding: 8px; margin-bottom: 8px;"
																*ngFor="let medida of control.medidas; let i = index">
																<td style="width: 45%; " class="mt-2 p-1">
																	<mat-form-field appearance="outline"
																		class="w-100 m-0 mt-2">
																		<mat-label>Nombre de la medida de
																			control</mat-label>
																		<input matInput [(ngModel)]="medida.nombre"
																			name="nombre_{{cargo.linea}}_{{control.factorRiesgoId}}_{{i}}"
																			[ngModelOptions]="{standalone: true}" />
																	</mat-form-field>
																	<mat-form-field appearance="outline"
																		class="w-100 m-0 mt-0">
																		<mat-label>Actividad de control</mat-label>
																		<mat-select
																			[(ngModel)]="medida.actividadControlIds"
																			(selectionChange)="onActividadControlIdsChange(medida, $event.value)"
																			name="actividadesControlResponsable_{{cargo.linea}}_{{control.factorRiesgoId}}_{{i}}"
																			[ngModelOptions]="{standalone: true}"
																			multiple>
																			<mat-option class="font-4"
																				*ngFor="let p of dataactividadesdecontrol"
																				[value]="p.id">{{p.nombre}}</mat-option>
																		</mat-select>
																	</mat-form-field>
																	<div
																		*ngIf="medida.actividadesControlResponsable.length > 0">
																		<mat-label class="fw-bold font-3">Actividad de
																			Control seleccionadas</mat-label>
																		<div class="table-responsive">
																			<table
																				class="table table-bordered table-sm mb-0"
																				style="border-radius: 8px; overflow: hidden; margin-bottom: 10px;">
																				<thead class="table-light">
																					<tr>
																						<th class="fw-bold">Nombre</th>
																						<th class="fw-bold">Prelación
																						</th>
																						<th class="fw-bold">Frecuencia
																						</th>
																						<th class="fw-bold">Responsable
																						</th>
																					</tr>
																				</thead>
																				<tbody>
																					<tr
																						*ngFor="let info of medida.actividadesControlResponsable">

																						<td>{{getNombreActividadControl(info.actividadControlId)}}
																						</td>
																						<td>{{getprelacionactividadControl(info.actividadControlId)}}
																						</td>
																						<td>{{getfrecuenciaactividadControl(info.actividadControlId)}}
																						</td>
																						<td>
																							<mat-form-field
																								appearance="outline"
																								class="w-100">
																								<mat-select
																									[(ngModel)]="info.responsableId"
																									name="responsable_{{info.nombre}}"
																									(selectionChange)="onActividadresponsableIDChange(info.id, $event.value, medida)">
																									<mat-option class="font-4" [value]="0">Seleccione</mat-option>
																									<mat-option class="font-4"
																										*ngFor="let duse of datausuarios"
																										[value]="duse.id">{{duse.nombre}}</mat-option>
																								</mat-select>
																							</mat-form-field>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																	</div>
																</td>
																<td class="text-center" style="width: 15%;">
																	<button mat-icon-button color="warn" type="button"
																		(click)="eliminarMedidaDeControl(control, i)">
																		<mat-icon>delete</mat-icon>
																	</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<app-btns-actions (actionSecondary)="btnCancelar()" (actionPrimary)="btnGuardar()" icon="save"
			text-primary="Guardar" text-secondary="Cancelar" [disabled-p]="mantenedorForm.invalid"></app-btns-actions>

	</app-block>
</app-container>