<app-container>
	<app-block >
		<form class="row" [formGroup]="mantenedorForm">
			<div class="col-12 col-ms-12 col-md-12">


				<div class="card info-card sales-card">

					<h5 class="card-title ms-3 mt-1">Lugar y momento del Incidente</h5>
					<h6 class="card-subtitle ms-3  text-muted">Seleccione el centro de trabajo, proceso, actividad y
						tarea
						asociada al incidente</h6>

					<div class="card-body">
						<div class="row font-4">
							<div class="col-12 col-md-3">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Centro de trabjo</mat-label>
									<mat-select formControlName="idcentrodetrabajo"
										(selectionChange)="getDataprocesos($event.value)">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let p of centrosdetrabajo"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-md-3">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Proceso</mat-label>
									<mat-select formControlName="proceso"
										(selectionChange)="getDataSubProcesos($event.value)">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let p of procesos" [value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-md-3">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Actividad</mat-label>
									<mat-select formControlName="subproaceso"
										(selectionChange)="getDataStareas($event.value)">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let a of actividades"
											[value]="a.id">{{a.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-md-3">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Tarea</mat-label>
									<mat-select formControlName="tareaId">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let t of tareas" [value]="t.id">{{t.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>


					</div>

				</div>




			</div>

			<div class="col-12 col-ms-12 col-md-12">


				<div class="card info-card sales-card">

					<h5 class="card-title ms-3 mt-1">Datos del incidente</h5>
					<h6 class="card-subtitle ms-3 text-muted ">Ingrese los datos del incidente </h6>

					<div class="card-body">
						<div class="row font-4">

							<div class="col-12 col-ms-6 col-md-8">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Nombre</mat-label>
									<input matInput formControlName="nombre" autocomplete="off" />
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-12"></div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Ubicación</mat-label>
									<mat-select formControlName="ubicacionId">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let p of dataubicaciones"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Riesgo</mat-label>
									<mat-select formControlName="riesgoId">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let p of datariesgos"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Peligros adionales</mat-label>
									<mat-select formControlName="peligroAdicionalId">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let p of datapeligrosadionales"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-12 col-ms-6 col-md-8">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>rutina</mat-label>
									<input matInput formControlName="rutina" autocomplete="off" />
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-12"></div>

							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Areas</mat-label>
									<mat-select formControlName="areaId">
										<mat-option value="">Seleccione</mat-option>
										<mat-option *ngFor="let p of dataareas" [value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Factores de Riesgo</mat-label>
									<mat-select formControlName="factoresRiesgoIds" multiple
										(selectionChange)="onFactoresRiesgoChange($event.value)">
										<mat-option value="" disabled selected> Seleccione</mat-option>
										<mat-option *ngFor="let p of datafactoresriesgo"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Peligros</mat-label>
									<mat-select formControlName="peligrosIds" multiple>
										<mat-option value="" disabled selected> Seleccione</mat-option>
										<mat-option *ngFor="let p of datapeligros"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<!-- <div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Estados</mat-label>
									<mat-select formControlName="estado">
										<mat-option value="" disabled selected> Seleccione</mat-option>
										<mat-option value="En Revisión">En Revisión</mat-option>
										<mat-option value="Revisado">Revisada</mat-option>
										<mat-option value="Aprobado">Aprobado</mat-option>
										<mat-option value="Desaprobado">Desaprobado</mat-option>
									</mat-select>
								</mat-form-field>

							</div> -->
						</div>


					</div>

				</div>

			</div>

			<div class="col-12 col-ms-12 col-md-12">


				<div class="card info-card sales-card">

					<h5 class="card-title ms-3 mt-1">Personal Afectado</h5>
					<h6 class="card-subtitle ms-3 text-muted ">Agregue grupos de población de la lista a continuación.
						Cada grupo tendrá una tarjeta donde podrá especificar el tamaño de la población y agregar
						medidas de control para cada factor de riesgo. </h6>

					<div class="card-body">
						<div class="row font-4">

							<div class="col-12 col-ms-6 col-md-4">
								<mat-form-field appearance="outline" class="w-100">
									<mat-label>Cargo Personal</mat-label>
									<mat-select formControlName="cargoPersonal">
										<mat-option *ngFor="let p of datacargospersonal"
											[value]="p.id">{{p.nombre}}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-ms-6 col-md-4 ">
								<button mat-raised-button color="primary" type="button"
									(click)="agregarCargoPersonal()">
									<mat-icon>add</mat-icon> Agregar
								</button>
							</div>

							<!-- Cards dinámicas para cada cargo seleccionado -->
							<div class="row mt-3" *ngIf="cargosSeleccionados.length > 0">
								<div class="col-12 col-ms-6 col-md-12" *ngFor="let cargo of cargosSeleccionados">
									<div class="card info-card sales-card">
										<div class="d-flex justify-content-between align-items-start mb-2">
											<h6 class="card-title ms-3 mt-1">{{ cargo.nombre }}</h6>
											<button mat-icon-button color="warn" type="button"
												(click)="eliminarCargoPersonal(cargo.linea)" style="margin-left:auto;">
												<mat-icon>delete</mat-icon>
											</button>

										</div>
										<h6 class="card-subtitle ms-3 text-muted ">Personal Afectado para {{
											cargo.nombre }} ingrese la cantidad de personas y daños probalbles </h6>
										<div class="card-body">

											<div class="row font-4">
												<div class="col-12 col-ms-6 col-md-2">
													<mat-form-field appearance="outline" class="w-100 mb-2">
														<mat-label>Cantidad de personas</mat-label>
														<input matInput type="number" min="1"
															[(ngModel)]="cargo.cantidadPersonal"
															name="cantidadPersonal_{{cargo.linea}}"
															[ngModelOptions]="{standalone: true}" />
													</mat-form-field>
												</div>
												<div class="col-12 col-ms-6 col-md-6">
													<mat-form-field appearance="outline" class="w-100">
														<mat-label>Daños probables</mat-label>
														<mat-select [(ngModel)]="cargo.datadanosProbables"
															name="datadanosProbables_{{cargo.linea}}"
															[ngModelOptions]="{standalone: true}" multiple>
															<mat-option *ngFor="let d of datadanosProbables"
																[value]="d.nombre">{{d.nombre}}</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="col-12 col-ms-6 col-md-4">
													<mat-form-field appearance="outline" class="w-100">
														<mat-label>Caracterización</mat-label>
														<mat-select [(ngModel)]="cargo.caracterizacionId"
															name="caracterizacionId_{{cargo.linea}}"
															[ngModelOptions]="{standalone: true}">
															<mat-option value="">Seleccione</mat-option>
															<mat-option *ngFor="let p of datacarectizacionpersonal"
																[value]="p.id">{{p.nombre}}</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
											</div>
											<!-- Cards dinámicas por factor de riesgo para este cargo -->
											<div class="row font-4 mt-1" *ngIf="controlesPorCargo.length > 0">
												<div class="col-12 col-md-12"
													*ngFor="let control of getFactoresPorCargo(cargo.linea)">
													<div class="card info-card sales-card">



														<div
															class="d-flex justify-content-between align-items-start mb-2">
															<span class="font-4 card-title ms-3  ">{{
																getNombreFactorRiesgo(control.factorRiesgoId) }}</span>

														</div>
														<h6 class="card-subtitle ms-3 text-muted ">Agregar medidas de
															control para el factor de riesgo </h6>

														<div class="card-body p-2">

															<div class="row">
																<div class="col-12 col-md-8">
																	<mat-form-field appearance="outline"
																		class="w-100 mb-2">
																		<mat-label>Nombre</mat-label>
																		<input matInput [(ngModel)]="control.nombre"
																			name="nombre_{{cargo.linea}}_{{control.factorRiesgoId}}"
																			[ngModelOptions]="{standalone: true}" />
																	</mat-form-field>
																</div>
																<div class="col-12 col-md-8">
																	<mat-form-field appearance="outline"
																		class="w-100 mb-2">
																		<mat-label>Observación</mat-label>
																		<textarea matInput rows="2"
																			[(ngModel)]="control.observacion"
																			name="observacion_{{cargo.linea}}_{{control.factorRiesgoId}}"
																			[ngModelOptions]="{standalone: true}"></textarea>
																	</mat-form-field>
																</div>
																<div class="col-12 col-ms-6 col-md-4">
																	<mat-form-field appearance="outline" class="w-100">
																		<mat-label>Actividad de control</mat-label>
																		<mat-select
																			[(ngModel)]="control.actividadControl"
																			name="actividadControl_{{cargo.linea}}_{{control.factorRiesgoId}}"
																			[ngModelOptions]="{standalone: true}"
																			multiple>
																			<mat-option *ngFor="let p of dataactividadesdecontrol" [value]="p.id">{{p.nombre}}</mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
																<!-- <div class="col-12 col-md-6">
																	<mat-form-field appearance="outline"
																		class="w-100 mb-2">
																		<mat-label>Actividad de control</mat-label>
																		<input matInput
																			[(ngModel)]="control.actividadControl"
																			name="actividadControl_{{cargo.id}}_{{control.factorRiesgoId}}"
																			[ngModelOptions]="{standalone: true}" />
																	</mat-form-field>
																</div> -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>


		</form>


		<app-btns-actions (actionSecondary)="btnCancelar()" (actionPrimary)="btnGuardar()" icon="save"
			text-primary="Guardar" text-secondary="Cancelar" [disabled-p]="mantenedorForm.invalid"></app-btns-actions>

	</app-block>
</app-container>