<!-- <app-title-page title="Agregar bodegas" [back]="true"></app-title-page> -->
<div class="pagetitle">
  <h1>Gestión de Bodegas</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/gestion/bodegas">Gestión de Bodegas</a></li>
          <li class="breadcrumb-item active">Agregar</li>
      </ol>
  </nav>
</div><!-- End Page Title -->
<app-bodegas-form *ngIf="modelo"
  [modelo]="modelo"
  (cancelar)="cancelar()"
  (guardar)="guardar()"
></app-bodegas-form>