 <app-container>
  <app-block title="Ingreso de datos">
    <form class="row" [formGroup]="mantenedorForm">
    <!-- Campo oculto para id del proceso -->
    <!-- <input type="hidden" formControlName="id" />
    <div class="col-12 col-ms-6 col-md-4">
      <mat-slide-toggle formControlName="esta_activo">Activo</mat-slide-toggle>
    </div> -->

      <div class="col-12 col-ms-6 col-md-12 mb-1" *ngIf="mostrarEmpresa">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Empresa</mat-label>
                    <!-- <input matInput formControlName="empresaId" autocomplete="off" /> -->
                    <mat-select formControlName="empresaId" (openedChange)="myInput.focus()"
                         >
                        <input class="myInput font-3" maxlength="30" #myInput matInput focused="'true'" type="text"
                            (keyup)="search2($event )" autocomplete="off" placeholder="Buscar Empresa">
                        <mat-option value="-1">Seleccione</mat-option>
                        <mat-option *ngFor="let _dataEmpresa of selectedempresa"
                            [value]="_dataEmpresa.id">
                            <span>{{_dataEmpresa.nombre}}</span> 
                            
                        </mat-option>
                    </mat-select>
                    <mat-hint class="fw-bold">Empresas asociadas al usuario</mat-hint>
                </mat-form-field>

            </div>

      <div class="col-12 col-ms-6 col-md-8">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre Procesos</mat-label>
          <input matInput formControlName="nombre" autocomplete="off" />
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Orden</mat-label>
          <input matInput formControlName="n_orden" type="number" min="0" max="999" autocomplete="off" />
        </mat-form-field>
      </div>






    </form>

    <app-block title="Subprocesos">
      <div class="mb-2">
        <button mat-raised-button color="primary" (click)="agregarSubproceso()">Agregar Subproceso</button>
      </div>
  <table mat-table [dataSource]="subprocesosDataSource" class="mat-elevation-z1 w-100">
        
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre Subproceso</th>
          <td mat-cell *matCellDef="let sub; let i = index">
            <input matInput [formControl]="sub.get('nombre')" placeholder="Nombre" />
          </td>
        </ng-container>
        <ng-container matColumnDef="detalles">
          <th mat-header-cell *matHeaderCellDef>Detalles</th>
          <td mat-cell *matCellDef="let sub; let i = index">
            <textarea matInput [formControl]="sub.get('detalles')" placeholder="Detalles" rows="2"></textarea>
          </td>
        </ng-container>
        <ng-container matColumnDef="n_orden">
          <th mat-header-cell *matHeaderCellDef>Orden</th>
          <td mat-cell *matCellDef="let sub; let i = index">
            <input matInput [formControl]="sub.get('n_orden')" placeholder="Orden" type="number" />
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let sub; let i = index">
            <button mat-icon-button color="primary" (click)="agregarTarea(sub)" matTooltip="Agregar tarea">
              <mat-icon>add</mat-icon>
            </button>
            <ng-container *ngIf="sub.get('id')?.value != null; else eliminarBtn">
              <mat-slide-toggle  [formControl]="sub.get('esta_activo')">Activo</mat-slide-toggle>
            </ng-container>
            <ng-template #eliminarBtn>
              <button mat-icon-button color="warn" (click)="eliminarSubproceso(i)" matTooltip="Eliminar subproceso">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
            <table mat-table [dataSource]="tareasDataSource(sub)" class="mat-elevation-z0 w-100" *ngIf="tareasFormArray(sub).length">
             
     
              <ng-container matColumnDef="nombreTarea">
                <th mat-header-cell *matHeaderCellDef>Nombre Tarea</th>
                <td mat-cell *matCellDef="let tarea; let j = index">
                  <input matInput [formControl]="tarea.get('nombre')" placeholder="Nombre tarea" />
                </td>
              </ng-container>
              <ng-container matColumnDef="n_ordenTarea">
                <th mat-header-cell *matHeaderCellDef>Orden</th>
                <td mat-cell *matCellDef="let tarea; let j = index">
                  <input matInput [formControl]="tarea.get('n_orden')" placeholder="Orden" type="number" />
                </td>
              </ng-container>
              <ng-container matColumnDef="accionesTarea">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let tarea; let j = index">
                  <ng-container *ngIf="tarea.get('id')?.value != null; else eliminarTareaBtn">
                    <mat-slide-toggle [formControl]="tarea.get('esta_activo')">Activo</mat-slide-toggle>
                  </ng-container>
                  <ng-template #eliminarTareaBtn>
                    <button mat-icon-button color="warn" (click)="eliminarTarea(sub, j)" matTooltip="Eliminar tarea">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-template>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="[ 'nombreTarea','n_ordenTarea','accionesTarea']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['nombreTarea','n_ordenTarea','accionesTarea'];"></tr>
            </table>
          </td>
        </ng-container>
  <tr mat-header-row *matHeaderRowDef="['nombre','detalles','n_orden','acciones']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['nombre','detalles','n_orden','acciones'];"></tr>

      </table>
   
   </app-block>
    <app-btns-actions (actionSecondary)="btnCancelar()" (actionPrimary)="btnGuardar()" icon="save"
      text-primary="Guardar" text-secondary="Cancelar" [disabled-p]="mantenedorForm.invalid"></app-btns-actions>

   </app-block>

   </app-container>