<app-container>
  <app-block title="Ingreso de datos">
    <form class="row font-4" [formGroup]="mantenedorForm">
      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>codigo </mat-label>
          <input matInput formControlName="codigo" maxlength="20" type="number" autocomplete="off" />


        </mat-form-field>
      </div>
      <div class="col-12 col-ms-6 col-md-12"></div>
      <div class="col-12 col-ms-6 col-md-7">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre Empresa</mat-label>
          <input matInput formControlName="nombre" maxlength="255" minlength="3" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('nombre').hasError('required')">
            Nombre es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>RUT</mat-label>
          <input matInput formControlName="rut" placeholder="RUT Empresa " (blur)="validaRut()" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('rut').hasError('required')">
            RUT es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>



      <div class="col-12 col-ms-12 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Observaciones</mat-label>
          <textarea matInput formControlName="observaciones" autocomplete="off" rows="3"></textarea>

        </mat-form-field>
      </div>





      <div class="col-12 col-ms-6 col-md-12"></div>

      <div class="col-12 col-ms-12 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Holding</mat-label>
          <!-- <input matInput formControlName="cestado" autocomplete="off" /> -->
          <mat-select formControlName="holdingid">
            <mat-option value="">Seleccione Holding</mat-option>

            <mat-option *ngFor="let _dataEmpresa of selectholding" [value]="_dataEmpresa.id">
              <span>{{_dataEmpresa.nombre}}</span>

            </mat-option>
          </mat-select>


        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-12">
        <mat-form-field class="example-chip-list"  class="w-100 " appearance="fill">
          <mat-label>Tipos de Empresa</mat-label>
          <mat-chip-list #chipList class="custom-chip-list"  aria-label="Seleccione tipos de empresa">
            <mat-chip *ngFor="let tipoemp of tipoemps" (removed)="remove(tipoemp)">
              {{tipoemp}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Tipo empresa..." #tipoempInput [formControl]="tipoempCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
              matTooltip="Agregue con Enter o presionando coma (,)" matTooltipPosition="above">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tipoemp of filteredtipoemp | async" [value]="tipoemp" class="font-3">
              {{tipoemp}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>

      <!--             
      <div class="col-12 col-ms-12 col-md-4"   >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Estado</mat-label>
      
          <mat-select formControlName="estado">
            <mat-option value="">Seleccione Estado</mat-option>
            <mat-option value="Activa">Activa </mat-option>
            <mat-option value="Inactiva">Inactiva</mat-option>
          </mat-select>
          <mat-error *ngIf="mantenedorForm.get('estado').hasError('required')">
           Estado es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div> -->




    </form>
  </app-block>

  <app-btns-actions (actionSecondary)="btnCancelar()" (actionPrimary)="btnGuardar()" icon="save" text-primary="Guardar"
    text-secondary="Cancelar"></app-btns-actions>
</app-container>