 .cus-snakebar {

   display: flex;
   align-items: center;
    .mat-icon {
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
      margin-right: 0.8rem;

    }
 
 }

 .spacer {
   flex: 1;
 }


 ::ng-deep .success-snackbar {
   --mdc-snackbar-container-color: var(--bs-success);
 }

 ::ng-deep .warning-snackbar {
   --mdc-snackbar-container-color: var(--bs-warning);
 }

 ::ng-deep .error-snackbar {
   --mdc-snackbar-container-color: var(--bs-danger);
 }

 ::ng-deep .info-snackbar {
   --mdc-snackbar-container-color: var(--bs-info);
 }