  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 3px;
  }
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
  
  .myInput {
    height: 30px !important;
    width: 90% !important;
    padding: 10px !important;
  }
          .full-height-dialog .mat-dialog-container {
          height: 100vh !important;
          max-height: 100vh !important;
          padding: 0 !important;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
        }