<!-- <div style=" background-color: #fff; text-align: end; ">
    
    <button type="button" class="titulo-cerrar font-1 text-end" (click)="onCloseClick()"><i
        class="material-symbols-outlined  ">close</i></button>
  </div> -->
  <header class="px-2 py-1 row align-items-center mx-0 bg-soft-light border-soft border-bottom">
    <h1 class="col-9 mb-0 font-7 modaltitle ">Solicitar cotización  a GTEK</h1>
    <div class="col-3 pe-0 text-end">
        <button (click)="onCloseClick()" mat-icon-button>
            <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
    </div>
</header>
   
  <!-- <div class="row   border-top border-soft ">
     
    <div class="col-12 col-ms-6 col-md-6 mb-1 mt-2">
      <div class="pagetitle">
        <h3>Asignar Usuario</h3>
       
      </div>  
    </div>
    <div class="col-12 col-ms-6 col-md-6 text-end  mb-1  ">
      <button type="button" class="titulo-cerrar font-1 text-end" (click)="onCloseClick()"><i
        class="material-symbols-outlined  ">close</i></button>
    </div>
  </div> -->

  <app-preloader *ngIf="preloader" size="large" message="Generando cotización, por favor espere..."></app-preloader>
<app-container *ngIf="!preloader"  >
    <app-block title="">
      <form class="row" [formGroup]="mantenedorForm">
        
        <div class="col-12 col-ms-6 col-md-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Observación para la cotización</mat-label>
                <!-- <input matInput formControlName="vobservacion" autocomplete="off" /> -->
                <textarea matInput maxlength="999" cols="50" rows="5" formControlName="vobservacion_retiro"
                  autocomplete="off"></textarea>
              </mat-form-field>
    </div>
    <div class="col-12 col-ms-6 col-md-12"></div>
    <div class="col-12 col-ms-6 col-md-12">
        <small class="font-4 alerta-texto-form ">Se informa a GTEK vía e-mail .</small>
       
    </div>
  
        
  
  
      </form>
<br>
      <div id="wrap-table" class="bg-white w-100 border-top border-soft cer-shadow rounded">
        <div class="row align-items-center mx-0 border-soft border-bottom py-1">
     
             <div class="col-12 px-3 py-2 d-flex align-items-center">
                 <ng-container *ngTemplateOutlet="inputFilter"></ng-container>
             </div>
     
         </div> 
         <div class="overflow-auto pb-3 px-2">
             <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort #sortData0="matSort"
                 class="cer-table table table-hover">
          
                 <!-- Weight Column -->
                 <ng-container matColumnDef="desitems">
     
     
                     <th mat-header-cell *matHeaderCellDef mat-sort-header
                         class="fw-bold px-1 bg-soft-light border-bottom border-soft sticky-cell-start px-2">
                         Ítem </th>
                     <td mat-cell *matCellDef="let element" class="px-1 py-2 border-bottom border-soft">
                         {{element.desitems}} </td>
                 </ng-container>
                 <!-- Weight Column -->
                 <ng-container matColumnDef="vmarca">
     
     
                     <th mat-header-cell *matHeaderCellDef mat-sort-header
                         class="fw-bold px-1 bg-soft-light border-bottom border-soft sticky-cell-start px-2">
                       Marca </th>
                     <td mat-cell *matCellDef="let element" class="px-1 py-2 border-bottom border-soft">
                         {{element.vmarca}} </td>
                 </ng-container>
     
                 <ng-container matColumnDef="vmodelo">
     
     
                     <th mat-header-cell *matHeaderCellDef mat-sort-header
                         class="fw-bold px-1 bg-soft-light border-bottom border-soft sticky-cell-start px-2">
                         Modelo </th>
                     <td mat-cell *matCellDef="let element" class="px-1 py-2 border-bottom border-soft">
                         {{element.vmodelo}} </td>
                 </ng-container>
                 
                 
                 <ng-container matColumnDef="cantidad">
     
     
                     <th mat-header-cell *matHeaderCellDef mat-sort-header
                         class="fw-bold px-1 bg-soft-light border-bottom border-soft sticky-cell-start px-2">
                         Cantidad </th>
                     <td mat-cell *matCellDef="let element" class="px-1 py-2 border-bottom border-soft font-2">
                         <mat-form-field appearance="outline" class="w-100">
                            
                         <input matInput type="number" (change)="addComentariohardware(element,2)" [(ngModel)]="element.cantidad" >  
                                       </mat-form-field>
                     </td>
                 </ng-container>
                 <ng-container matColumnDef="vobservacion">
     
     
                     <th mat-header-cell *matHeaderCellDef mat-sort-header
                         class="fw-bold px-1 bg-soft-light border-bottom border-soft sticky-cell-start px-2">
                         Observación </th>
                     <td mat-cell *matCellDef="let element" class="px-1 py-2 border-bottom border-soft font-2">
                         <mat-form-field appearance="outline" class="w-75">
                            
                             <!-- <input matInput type="textarea" (change)="addComentariohardware(element,2)" [(ngModel)]="element.vobservacion" > -->
                             <textarea matInput (change)="addComentariohardware(element,2)" maxlength="999" cols="110" rows="3"   placeholder="se necesita por..."  [(ngModel)]="element.vobservacion" ></textarea>
                         </mat-form-field>
                     </td>
                 </ng-container>
                 <ng-container matColumnDef="accion">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header
                     class="fw-bold px-1 bg-soft-light border-bottom border-soft sticky-cell-start px-2">
                       </th>
                       <td mat-cell *matCellDef="let element" class="px-1 py-2 border-bottom border-soft font-2">
                         <!-- <button type="button" (click)="eliminarhardware(element.idhardware)" class="btn btn-outline-success  ms-3" matTooltip="Cargar Excel" >
                             <mat-icon class="material-symbols-outlined align-middle me-1">delete</mat-icon>
                             
                           </button> -->
                           <a class="dropdown-item d-flex align-items-center" matTooltip="Quitar" style="cursor: pointer;" (click)="eliminarhardware(element.idhardware)">
                             <i class="bi bi-trash3" style="color: #ff0000"></i>
                             
                           </a>
                       </td>
     
                 </ng-container>
     
                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
                 <!-- Row shown when there is no matching data. -->
                 <tr class="mat-row" *matNoDataRow>
                     <td class="mat-cell" colspan="6">No hay datos para el filtro </td>
                 </tr>
             </table>
     
     
             <mat-paginator #paginator class="mt-3 position-sticky left-0" [length]="50" [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100,500,700,1000]" aria-label="Selecciona página"
                 (page)="changePaginador($event)">
             </mat-paginator>
         </div>
     
     </div>
     
     <ng-template #inputFilter>
         <div class="input-group w-75">
             <span class="input-group-text text-primary material-symbols-outlined bg-transparent border-end-0"
                 id="icon-search">search</span>
             <input (keyup)="filterTable($event)" type="text" class="form-control border-start-0 font-3"
                 placeholder="Buscar..." aria-label="Buscar" aria-describedby="icon-search" />
         </div>
     </ng-template>
     
    </app-block>
   
    <app-btns-actions *ngIf="!preloader" (actionSecondary)="onCloseClick()" (actionPrimary)="guardar()" icon="save" text-primary="Guardar"
      text-secondary="Cerrar"  ></app-btns-actions>
  </app-container>