<header id="header"  class=" header fixed-top d-flex align-items-center">

  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">


    <a href="/dashboard" class=" logo d-flex align-items-start text-light text-decoration-none">
      <ng-container *ngIf="!menu">
        <img src="assets/img/logo_Risk-ID.png" alt="Gtek" class="logo" />
      </ng-container>
     
    </a>


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
            Tienes 4 notificaciones nuevas.
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">ver todas</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->
    <!-- <div class="d-flex align-items-center">
      <form class="w-100 me-3  text-light">
        <span class="me-2 font-4 text-end text-truncate">{{NombreUsuario}}/{{despais}}/{{desrol}}</span>
      </form>

      <div class="flex-shrink-0 dropdown text-light">

        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon class="material-symbols-outlined">person</mat-icon>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><button class="dropdown-item" (click)="openModalCambioPass()" type="button">Cambiar contraseña</button>
          </li>
          <li><button class="dropdown-item" (click)="cambiaPerfil()" type="button">Cambiar perfil</button></li>
          <li><button class="dropdown-item" (click)="logOut()" type="button">Salir</button></li>
        </ul>
      </div>
    </div> -->
  </div>

</header>
<!-- <header class="py-2 mb-3 row bg-primary text-light">
  <div class="container">

    <div class="d-flex flex-wrap align-items-start justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-start mb-2 mb-lg-0 text-light text-decoration-none">
        <ng-container *ngIf="!menu">
          <a routerLink="/"><img src="assets/img/logo-certhia.png" alt="Certhia logotipo" width="100%"
              class="logo" /></a>
        </ng-container>
        AuditProX
      </a>


      <div class="col-6 pe-0 d-flex  text-end align-items-end justify-content-end text-light">
        <span class="me-2 font-4 text-end text-truncate">{{NombreUsuario}}/{{despais}}/{{desrol}}</span>

        <div class="dropdown justify-content-end text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon class="material-symbols-outlined">person</mat-icon>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><button class="dropdown-item" (click)="openModalCambioPass()" type="button">Cambiar contraseña</button>
            </li>
            <li><button class="dropdown-item" (click)="cambiaPerfil()" type="button">Cambiar perfil</button></li>
            <li><button class="dropdown-item" (click)="logOut()" type="button">Salir</button></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</header> -->

<!-- 
<header class="py-2 mb-3 row bg-primary">
  <div class="row pe-0 align-items-center justify-content-end">
    <div *ngIf="!menu" class="col-2">
      <a routerLink="/"><img src="assets/img/logo-certhia.png" alt="Certhia logotipo" width="100%" class="logo" /></a>
    </div>
    <ng-container *ngIf="menu">
      <div class="col-4  justify-content-end">
        <h5><b>AuditProX</b></h5>
      </div>
    </ng-container>

    <ng-container *ngIf="!menu">
      <div class="col-2  justify-content-end">
        <h5><b>AuditProY</b></h5>
      </div>
    </ng-container>
   

    <div class="col-6 pe-0 d-flex  text-end align-items-center justify-content-end text-light">
      <span class="me-2 font-4 text-end text-truncate">{{NombreUsuario}}/{{despais}}/{{desrol}}</span>
      <div class="dropdown">
        <button class="btn btn-primary py-2 mt-1 dropdown-toggle" type="button" id="dropdownMenu2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon class="material-symbols-outlined">person</mat-icon>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" (click)="openModalCambioPass()" type="button">Cambiar contraseña</button>
          </li>
          <li><button class="dropdown-item" (click)="cambiaPerfil()" type="button">Cambiar perfil</button></li>
          <li><button class="dropdown-item" (click)="logOut()" type="button">Salir</button></li>
        </ul>
      </div>


    </div>

  </div>
</header> -->