<!-- <app-title-page title="Editar hardware" [back]="true"></app-title-page> -->
<div class="pagetitle">
  <h1>Gestión de Hardware</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
           
          <li class="breadcrumb-item "><a routerLink="/dashboard/gestion/hardware">Gestión Hardware</a>/</li>
          <li class="breadcrumb-item active">Editar</li>
      </ol>
  </nav>
</div><!-- End Page Title -->
<app-hardware-form *ngIf="modelo"
  [modelo]="modelo"
  (cancelar)="cancelar()"
  (guardar)="guardar()"
></app-hardware-form>
