
.logo img {
    max-height: 56px;
    margin-right: 6px;
  }
  
  .logo span {
    font-size: 56px;
    font-weight: 700;
    color: #012970;
    
  }
  .titulo-cerrar:hover::before{
    background-color: none;
    border: none;
}

.titulo-cerrar{
	border: none;
	background-color: none;
	background-color: transparent;
	outline:none;

}