 
<!-- <div class="row   border-top border-soft ">
     
  <div class="col-12 col-ms-6 col-md-6 mb-1 mt-2">
    <div class="pagetitle">
      <h3>Historial Hardware</h3>
     
    </div>  
  </div>
  <div class="col-12 col-ms-6 col-md-6 text-end  mb-1  ">
    <button type="button" class="titulo-cerrar font-1 text-end" (click)="onCloseClick()"><i
      class="material-symbols-outlined  ">close</i></button>
  </div>
</div> -->

<header class="px-2 py-1 row align-items-center mx-0 bg-soft-light border-soft border-bottom">
  <h1 class="col-9 mb-0 font-7 modaltitle ">Historial Hardware</h1>
  <div class="col-3 pe-0 text-end">
      <button (click)="onCloseClick()" mat-icon-button>
          <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
  </div>
</header>

 
  
  <!-- <app-container>
    <app-block>
      <div class="row font-4">
  
       
        <div class="col-12 col-ms-6 col-md-12 text-end font-3">
        
          <button type="button" (click)="cancelar()" class="btn btn-danger text-light ms-3">
            <mat-icon class="material-symbols-outlined align-middle me-1">arrow_back</mat-icon>
            <span class="align-middle">Volver</span>
          </button>
        </div>
      </div>
  
    </app-block>
  </app-container> -->
<ng-container>
     
    <app-table   [border-block]="true" [filter-columns]="false" [filter]="true"
      [sticky-last]="true"   [header-table]="tableHeadMaintainer"
      [tableData]="tableDataMaintainer"></app-table>
  </ng-container>