<app-container>
  <app-block title="Ingreso de datos ">
    <form class="row font-4" [formGroup]="mantenedorForm">
      <!-- <div class="col-12 col-ms-6 col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>iditems</mat-label>
            <input matInput formControlName="iditems" autocomplete="off"/>
          </mat-form-field> 
        </div>-->
      <ng-container *ngIf="check_tipo==1">
        <div class="col-12 col-ms-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Empresa</mat-label>

            <mat-select formControlName="idempresa" (openedChange)="myInput.focus()"
              (selectionChange)="databodegas($event.value)">
              <input class="myInput font-3" maxlength="30" #myInput matInput focused="'true'" type="text"
                (keyup)="search($event )" autocomplete="off" placeholder="Buscar Empresa">
              <!-- <mat-option value="0">Todas</mat-option> -->
              <mat-option *ngFor="let _dataempresas of dataempresas" [value]="_dataempresas.idempresa">
                <span>{{_dataempresas.vnombreEmpresa}}</span>
                <!-- |  <small>Region: {{_datadatabodegas.desregion}}</small> -->
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mantenedorForm.get('idempresa').hasError('required')">
              Empresa es <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="col-12 col-ms-6 col-md-12"></div>
      <div class="col-12 col-ms-6 col-md-6">
        <mat-form-field appearance="outline" class="w-100  ">
          <mat-label>Ítems</mat-label>
          <mat-select formControlName="iditems">
            <!-- <mat-option value="">Todos</mat-option> -->
            <mat-option *ngFor="let _dataItems of dataItems" [value]="_dataItems.iditems">
              <span>{{_dataItems.desitems}}</span>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="mantenedorForm.get('iditems').hasError('required')">
            Ítems es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- <div class="col-12 col-ms-6 col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>idempresa</mat-label>
            <input matInput formControlName="idempresa" autocomplete="off"/>
          </mat-form-field>
        </div> -->

      <div class="col-12 col-ms-6 col-md-6">
        <mat-form-field appearance="outline" class="w-100  ">
          <mat-label>Bodega</mat-label>
          <mat-select formControlName="idbodega">

            <mat-option *ngFor="let _databodegasempresa of databodegasempresa" [value]="_databodegasempresa.idbodega">
              <span>{{_databodegasempresa.vdesbodega}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Marca</mat-label>
          <input matInput formControlName="vmarca" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vmarca').hasError('required')">
            Marca es <strong>Requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="vmodelo" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vmodelo').hasError('required')">
            Modelo es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Número de Parte</mat-label>
          <input matInput formControlName="vnumerodeparte" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vnumerodeparte').hasError('required')">
            Número de parte es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Número de serie </mat-label>
          <input matInput formControlName="vnumeroserie" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vnumeroserie').hasError('required')">
            Número de serie es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-ms-6 col-md-4">
        <!-- <mat-form-field appearance="outline" class="w-100">
          <mat-label>dfechamantencion</mat-label>
          <input matInput formControlName="dfechamantencion" autocomplete="off" />
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fecha de Ingreso</mat-label>
          <input matInput formControlName="dfechaRegistro" [matDatepicker]="dfechaRegistro">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dfechaRegistro"></mat-datepicker-toggle>
          <mat-datepicker #dfechaRegistro></mat-datepicker>
          <mat-error *ngIf="mantenedorForm.get('vnumeroserie').hasError('required')">
            Fecha de Ingreso es <strong>Requerida</strong>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-12 col-ms-6 col-md-4">
        <!-- <mat-form-field appearance="outline" class="w-100">
          <mat-label>dfechamantencion</mat-label>
          <input matInput formControlName="dfechamantencion" autocomplete="off" />
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fecha Mantención</mat-label>
          <input matInput formControlName="dfechamantencion" [matDatepicker]="dfechamantencion">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dfechamantencion"></mat-datepicker-toggle>
          <mat-datepicker #dfechamantencion></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="col-12 col-ms-6 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Observación</mat-label>
          <!-- <input matInput formControlName="vobservacion" autocomplete="off" /> -->
          <textarea matInput maxlength="399" cols="50" rows="5" formControlName="vobservacion"
            autocomplete="off"></textarea>
        </mat-form-field>
      </div>






    </form>
    <small class="font-4 m-2 " *ngIf="actualizar==false">* Obligarios</small>
    <small class="font-4 m-2 alerta-texto-form " *ngIf="actualizar==true">* No se puede editar porque se encuentra asignado o reciclado.</small>
  </app-block>
  
 

  <app-btns-actions  (actionSecondary)="btnCancelar()" (actionPrimary)="btnGuardar()"
    [disabled-p]="actualizar" icon="save" text-primary="Guardar" [disabled-p]="actualizar" text-secondary="Cancelar"></app-btns-actions>
  </app-container>

  <ng-container *ngIf="verhistorial">
    <!-- <app-title-page title="Agregar hardware" [back]="true"></app-title-page> -->
    <div class="pagetitle">
      <h2>Historial</h2>

    </div>

    <app-table [border-block]="true" [filter-columns]="false" [filter]="false" [sticky-last]="true"
      [actions]="actionsMaintainerHistorial" [header-table]="tableHeadMaintainerHistorial"
      [tableData]="tableDataMaintainerHistorial"></app-table>
  </ng-container>
