<!-- <app-title-page title="Editar Empresa" [back]="true"></app-title-page> -->
<div class="pagetitle">
  <h1>Gestión de Daño Probable</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/gestion/danos-probable">Gestión de Daño Probable</a></li>
          <li class="breadcrumb-item active">Agregar</li>
      </ol>
  </nav>
</div><!-- End Page Title -->
<app-danos-probable-form *ngIf="modelo"
  [modelo]="modelo"
  (cancelar)="cancelar()"
  (guardar)="guardar()"
></app-danos-probable-form>