<!-- <app-title-page title="Mantenedor / asistencia"></app-title-page> -->
 <div class="pagetitle">
   <h1>Gestión de Trabajadores</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <!-- <li class="breadcrumb-item">Gestión</li> -->
            <li class="breadcrumb-item">Gestión trabajadores</li>
              <li class="breadcrumb-item active">Asistencia</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<ng-container>
    <app-title-page 
    title="Asistencia" 
    btn-icon="add" 
    btn-text="Agregar" 
    routerLink="add"></app-title-page>

    <app-table 
        (actionClick)="outputAction($event)"
        [border-block]="true"
        [filter-columns]="false"
        [filter]="true"
        [sticky-last]="true"
        [actions]="actionsMaintainer"
        [header-table]="tableHeadMaintainer"
        [tableData]="tableDataMaintainer"></app-table>
</ng-container>
