<!-- <app-title-page title="Agregar items" [back]="true"></app-title-page> -->
<div class="pagetitle">
  <h1>Gestión de Ítems</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/gestion/items">Gestión de Ítems</a></li>
          <li class="breadcrumb-item active">Agregar</li>
      </ol>
  </nav>
</div><!-- End Page Title -->
<app-items-form *ngIf="modelo"
  [modelo]="modelo"
  (cancelar)="cancelar()"
  (guardar)="guardar()"
></app-items-form>