<app-container>
  <app-block title="Ingreso de datos">
    <form class="row font-4" [formGroup]="mantenedorForm">
      <div class="col-12 col-ms-6 col-md-7">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="vdesbodega"  maxlength="100" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vdesbodega').hasError('required')">
            Nombre es <strong>Requerido</strong>
           </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Encargado</mat-label>
          <input matInput formControlName="vnombreencargado"  maxlength="200" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vnombreencargado').hasError('required')">
            Encargado es <strong>Requerido</strong>
           </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-7">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="vdireccionbodega"  maxlength="200" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vdireccionbodega').hasError('required')">
            Dirección es <strong>Requerido</strong>
           </mat-error>
        </mat-form-field>
      </div>

    

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Horarios</mat-label>
          <input matInput formControlName="horarios"  maxlength="200" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('horarios').hasError('required')">
            Horarios es <strong>Requerido</strong>
           </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="vtelefonobodega"  maxlength="50" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vtelefonobodega').hasError('required')">
            Teléfono es <strong>Requerido</strong>
           </mat-error>
        </mat-form-field>
      </div>

      <!-- <div class="col-12 col-ms-6 col-md-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="vmailbodega"  maxlength="100" autocomplete="off" />
        </mat-form-field>
      </div> -->
      <div class="col-12 col-ms-6 col-md-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="vmailbodega" (change)="validarmail()" maxlength="50" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('vmailbodega')  && !mantenedorForm.get('vmailbodega').hasError('required')">
            {{errorMail}}
           </mat-error>
           <mat-error *ngIf="mantenedorForm.get('vmailbodega').hasError('required')">
             E-mail es <strong>Requerido</strong>
           </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Capacidad</mat-label>
          <input matInput formControlName="vacapacidad"  maxlength="200" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="col-12 col-ms-6 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Observación</mat-label>
         
          <textarea matInput maxlength="900" cols="30" rows="10" formControlName="vobservacionbodega"
          autocomplete="off"></textarea>
        </mat-form-field>
      </div>

     

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Estado</mat-label>
          <!-- <input matInput formControlName="cestado" autocomplete="off" /> -->
          <mat-select formControlName="cestado">
            <mat-option value="">Seleccione Estado</mat-option>
            <mat-option value="V">Activo </mat-option>
            <mat-option value="N">Inactivo</mat-option>
        </mat-select>
        <mat-error *ngIf="mantenedorForm.get('cestado').hasError('required')">
          Estado es <strong>Requerido</strong>
         </mat-error>
        </mat-form-field>
      </div>






    </form>
  </app-block>

  <app-btns-actions (actionSecondary)="btnCancelar()" (actionPrimary)="btnGuardar()" icon="save" text-primary="Guardar"
    text-secondary="Cancelar" ></app-btns-actions>
</app-container>