<app-container>
  <app-block title="Ingreso de datos">
    <form class="row font-3" [formGroup]="mantenedorForm">
      <ng-container  >
      <div class="col-12 col-ms-6 col-md-8 font-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Empresa</mat-label>

          <mat-select formControlName="idempresa" (openedChange)="myInput.focus()">
            <input class="myInput font-3" maxlength="30" #myInput matInput focused="'true'" type="text"
              (keyup)="search($event )" autocomplete="off" placeholder="Buscar Empresa">

            <mat-option *ngFor="let _dataempresas of selectedempresa" [value]="_dataempresas.id">
              <span>{{_dataempresas.nombre}}</span>
              <!-- |  <small>Region: {{_datadatabodegas.desregion}}</small> -->
            </mat-option>
          </mat-select>
          <mat-error *ngIf="mantenedorForm.get('idempresa').hasError('required')">
            Empresa es <strong>Requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>

      <div class="col-12 col-ms-6 col-md-8">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" (change)="validarmail()" maxlength="50" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('email') && !mantenedorForm.get('email').hasError('required')">
            {{errorMail}}
          </mat-error>
          <mat-error *ngIf="mantenedorForm.get('email').hasError('required')">
            E-mail es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-ms-6 col-md-8">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('nombre').hasError('required')">
            Nombre es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      
 <div class="col-12 col-ms-12 col-md-12"></div>

      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          
          <mat-label>Teléfono</mat-label>
         
          <input matInput formControlName="telefono" maxlength="10"  type="number" min="1" autocomplete="off"   />
         <mat-hint>Ingrese solo números sin +56</mat-hint>
          
          <mat-error *ngIf="mantenedorForm.get('telefono').hasError('required')">
            Teléfono es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>    


      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>RUT</mat-label>
          <input matInput formControlName="rut" placeholder="12345678-9" (blur)="validaRut()" autocomplete="off" />
          <mat-error *ngIf="mantenedorForm.get('rut').hasError('required')">
            RUT es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

   





      <div class="col-12 col-ms-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tipo Usuario</mat-label>
          <!-- <input matInput formControlName="idtipo_usuario" autocomplete="off" /> -->
          <mat-select formControlName="idtipo_usuario">
            <mat-option *ngFor="let _datatipousuario of datatipousuario" [value]="_datatipousuario.idtipo_usuario">
              <span>{{_datatipousuario.destipousuario}}</span>

            </mat-option>
           
          </mat-select>
          <mat-error *ngIf="mantenedorForm.get('idtipo_usuario').hasError('required')">
            Tipo Usuario es <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

  



    </form>
  </app-block>

  <app-btns-actions (actionSecondary)="btnCancelar()" (actionPrimary)="btnGuardar()" icon="save" text-primary="Guardar"
    text-secondary="Cancelar"  ></app-btns-actions>
</app-container>