<header class="px-2 py-1 row align-items-center mx-0 bg-soft-light border-soft border-bottom">
    <h1 class="col-9 mb-0 font-7 modaltitle ">Detalle del Retiro</h1>
    <div class="col-3 pe-0 text-end">
        <button (click)="onCloseClick()" mat-icon-button>
            <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
    </div>
</header>
 
    <div class="card ">


        <div class="card-body">

            <h5 class="card-title mb-1"><strong>Solicitud </strong> {{data.vcodigosolicitud}} </h5>
            <mat-divider></mat-divider>
            <h6 class="card-subtitle m-2"><strong>Usuario:</strong> {{data.nombreUsuGenera}} {{data.primerapellidoGenera}} </h6>
            <mat-divider></mat-divider>
            <h6 class="card-subtitle m-2"><strong>Teléfono:</strong> {{data.telefonogenera}} </h6>
            <mat-divider></mat-divider>
            <h6 class="card-subtitle m-2"><strong>E-mail:</strong> {{data.mailGenera}} </h6>
            <mat-divider></mat-divider>
            <h6 class="card-subtitle m-2"><strong>Dirección:</strong> {{data.desdireccion}} </h6>
            <mat-divider></mat-divider>



            <div class="row  ">
                <div class="col-12 col-ms-6 col-md-12 m-2"> <img (click)="maps()" style="cursor:pointer;"
                        src="../../../../../assets/img/mapas-de-google.png" width="40" alt="Logo" height="40">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <img (click)="waze()" style="cursor:pointer;" src="../../../../../assets/img/logo_waze.png"
                        width="40" alt="Logo" height="40">

                     
                        &nbsp;
                        &nbsp;
                        <img (click)="sendWhatsapp()" style="cursor:pointer;" src="../../../../../assets/img/wassap.png"
                        width="60" alt="Logo" height="40">
                </div>


                <app-table [border-block]="true" [filter-columns]="false" [filter]="false" [sticky-last]="true"
                [header-table]="tableHeadMaintainer" [tableData]="tableDataMaintainer"></app-table>
            </div>
        

        </div>

       
    </div>
        

 