<!-- <app-title-page title="Agregar flash" [back]="true"></app-title-page> -->
  <div class="pagetitle">
  <h1>Ocurrencias anormales</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/flash">Ocurrencias anormales</a></li>
          <li class="breadcrumb-item active">Agregar</li>
      </ol>
  </nav>
</div><!-- End Page Title -->

<app-ocurrencias-form *ngIf="modelo"
  [modelo]="modelo"
  (cancelar)="cancelar()"
  (guardar)="guardar()"
></app-ocurrencias-form>