<header class="px-2 py-1 row align-items-center mx-0 bg-soft-light border-soft border-bottom">
    <h1 class="col-9 mb-0 font-7 modaltitle ">Hardware existente en tienda gtek</h1>
    <div class="col-3 pe-0 text-end">
        <button (click)="onCloseClick()" mat-icon-button>
            <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
    </div>
  </header>
  <div class="row mb-2 mt-2">
    <div class="col-12 col-ms-6 col-md-12 text-end font-3">
      <button type="button" (click)="addresiduos()" class="btn btn-primary text-light ms-3"  >
        <mat-icon class="material-symbols-outlined align-middle me-1">add</mat-icon>
        <span class="align-middle">Agregar</span>
      </button>
 
    
    </div>
  </div>
  <ng-container> 
    <app-preloader *ngIf="preloader" size="small" message="Carga hardware disponible en tienda"></app-preloader>
    <app-table   [border-block]="true" [filter-columns]="false" [filter]="true"
      [sticky-last]="true"   [header-table]="tableHeadMaintainer"
      [tableData]="tableDataMaintainer"></app-table>
  </ng-container>