<!-- <app-title-page title="Editar Empresa" [back]="true"></app-title-page> -->
<div class="pagetitle">
  <h1>Eventos no Deseados</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/incidentes">Gestión de Eventos no Deseados</a></li>
          <li class="breadcrumb-item active">Agregar</li>
      </ol>
  </nav>
</div><!-- End Page Title -->

<app-incidentes-form *ngIf="modelo"
  [modelo]="modelo"
  (cancelar)="cancelar()"
  (guardar)="guardar()"
></app-incidentes-form>