.bg-color-factor-1 {
    background-color: #A3B087 !important
}
.bg-color-factor-2 {
    background-color: #B0D6A1 !important
}
.bg-color-factor-3 {
    background-color: #F2D6A1 !important
}
.bg-color-factor-4 {
    background-color: #A1C6D6 !important
}
.bg-color-factor-5 {
    background-color: #A1D6A1 !important
}