<!-- <app-title-page title="Mantenedor / tipo_usuario"></app-title-page>
<ng-container>
    <app-title-page 
    title="tipo_usuario" 
    btn-icon="add" 
    btn-text="Agregar" 
    routerLink="add"></app-title-page> -->

<div class="pagetitle">
    <h1>Incidentes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <!-- <li class="breadcrumb-item">Gestión</li> -->
            <li class="breadcrumb-item active">Gestión de Incidentes</li>
        </ol>
    </nav>
</div><!-- End Page Title -->



<app-container>
    <app-block>
        <form class="row font-3" [formGroup]="filtrosbusquedaincidentes">
            <div class="col-12 col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Centro de trabjo</mat-label>
                    <mat-select formControlName="idcentrodetrabajo" (selectionChange)="getDataprocesos($event.value)">
                        <mat-option class="font-4" value="">Seleccione</mat-option>
                        <mat-option class="font-4" *ngFor="let p of centrosdetrabajo" [value]="p.id">{{p.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Proceso</mat-label>
                    <mat-select formControlName="proceso" (selectionChange)="getDataSubProcesos($event.value)">
                        <mat-option class="font-4" value="">Seleccione</mat-option>
                        <mat-option class="font-4" *ngFor="let p of procesos" [value]="p.id">{{p.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Actividad</mat-label>
                    <mat-select formControlName="actividad" (selectionChange)="getDataStareas($event.value)">
                        <mat-option class="font-4" value="">Seleccione</mat-option>
                        <mat-option class="font-4" *ngFor="let a of actividades" [value]="a.id">{{a.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Tarea</mat-label>
                    <mat-select formControlName="tarea">
                        <mat-option class="font-4" value="">Seleccione</mat-option>
                        <mat-option class="font-4" *ngFor="let t of tareas" [value]="t.id">{{t.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="col-12 col-md-3">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>Tipo de Tarea</mat-label>
					<mat-select formControlName="tipoTarea" [disabled]="!isEditable('tipoTarea')">
						<mat-option *ngFor="let tt of tiposTarea" [value]="tt.id">{{tt.nombre}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div> -->
        </form>
        <div class="row font-4">




            <div class="col-12 col-ms-6 col-md-12 text-end ">
                <button type="button" (click)="getData()" class="btn btn-success text-light ms-3 font-4 ">
                    <mat-icon class="material-symbols-outlined align-middle me-1">search</mat-icon>
                    <span class="align-middle">Buscar</span>
                </button>

                <button type="button" (click)="add()" class="btn btn-primary text-light ms-3 font-4 ">
                    <mat-icon class="material-symbols-outlined align-middle me-1">Add</mat-icon>
                    <span class="align-middle">Agregar</span>
                </button>
            </div>
        </div>


    </app-block>
</app-container>
<ng-container>
    <app-table (actionClick)="outputAction($event)" [border-block]="true" [filter-columns]="false" [filter]="true"
        [sticky-last]="true" [actions]="actionsMaintainer" [header-table]="tableHeadMaintainer"
        [tableData]="tableDataMaintainer"></app-table>
</ng-container>