<div class="pagetitle">
    <h1>{{titulo}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/gestion/empresa">Gestión de Usuarios</a></li>
            <li class="breadcrumb-item active">{{titulo}}</li>
        </ol>
    </nav>
  </div><!-- End Page Title -->



<ng-container>

    
    <app-direcciones-usuarios-form  [modelo]="modelo" (cancelar)="cancelar()" (guardar)="guardar()">  </app-direcciones-usuarios-form>
    <app-table (actionClick)="outputAction($event)" [border-block]="true" [filter-columns]="false" [filter]="true"
    [sticky-last]="true" [actions]="actionsMaintainer" [header-table]="tableHeadMaintainer"
    [tableData]="tableDataMaintainer"></app-table>
</ng-container>