
 
.flexExpand {
    flex: 1 1 auto;
}
  mat-sidenav {
    /* margin: 16px;
    width: 200px; */
    margin-left: 5px;
    border-right: none;
    background: #002b5c;
    color:aliceblue;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 220px;
    
  
  }
  .side-navnar {
 
 text-align: left;
 
    /* overflow: auto; */
    overflow-y: none;
    overflow: none;
     margin-left: 5px;
      font-size: 1rem !important
    /* background-color: #002b5c; */
    /* color: aliceblue; */
  }



  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 10px;
    margin-left: 32px;
    padding: 16px;
    /* padding: 16px;
     overflow: auto;
    */
  overflow-y: none;
    overflow: none;
  }
  
  /* mat-sidenav-container {
    height: calc(100vh - 65px);
  }
   */
  .menu-button {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    font-size: 1rem;
  
   
  }
  
  .avatar {
    background-color: aliceblue;
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    font-weight: normal;
  }
  
  .designation {
    margin-top: 4px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }


    .mat-expansion-panel-header {
    padding: 0 2px !important;
    height: 48px !important;
    background-color:  #002b5c !important;
}

.mat-nav-list .mat-icon {
    margin-right: 5px;
    font-size: 1.2rem;
    background-color:  #002b5c !important;
    color: aliceblue !important;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 !important
}
::ng-deep .mat-list-item-content {
  padding-left: 2px !important;
  color: aliceblue !important;
  text-decoration:none; text-transform: none;
}
 
 

 .mat-expansion-panel .mat-list-item {
    padding-left: 10px !important;
}

 .mat-nav-list .is-active {
    background-color:  #002b5c !important;
    border-left     : 2px solid rgb(139, 137, 133);
    width           : calc(100% - 2px)!important;;
    
}
 
::ng-deep .mat-expansion-indicator::after {
  transform: rotate(225deg) !important;  
  color: white !important;

}
 

::ng-deep .mat-list-base {
    padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
    padding: 0 5px;
    font-size: 0.9rem;
}
::ng-deep  .mat-list-item-content {
  padding: 0 5px;
  font-size: 0.9rem;
}