<mat-toolbar class="mat-elevation-z8 mb-2" style="  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);" aria-label="Menu">
  <div class="container-fluid">
    <!-- <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"> -->

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <a class="navbar-brand" routerLink="/dashboard"><img width="160" height="50"
        src="../../../assets/img/logo_sin_fondo.png" class="sidenav-trigger" /></a>
    </div>
    <span class="flexExpand"></span>
    <div class="flex-end">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="material-symbols-outlined">person</mat-icon>
        {{extraeNombre()}}
        <!-- <mat-icon class="material-symbols-outlined">notifications</mat-icon> -->
      </button>
      <!-- <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon class="material-symbols-outlined">account_box</mat-icon>
            </button> -->

    <mat-menu #menu="matMenu">
  
          <button mat-menu-item (click)="volverInicio()"><mat-icon
              class="material-symbols-outlined">exit_to_app</mat-icon><span>Página Principal</span></button>
          <button mat-menu-item (click)="logOut()"><mat-icon class="material-symbols-outlined">logout</mat-icon><span>Cerrar
              Sesión</span></button>
          </mat-menu>
          </div>
</mat-toolbar>



<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 ">
    <img class="avatar mat-elevation-z8" src="../../../assets/img/sin_logo.png" />

    <h6 class="name font-3">{{nombreUsuario}}</h6>
    <p class="designation">Empresa Nombre</p>

    <mat-divider></mat-divider>

    <mat-nav-list class="side-navnar">
    <ng-container *ngFor="let menu of menuList; index as i;">
        <ng-container [ngTemplateOutlet]="menu.children.length>0 ?  childMenu : parentMenu"
          [ngTemplateOutletContext]="{menu:menu}">
        </ng-container>
      </ng-container>
    </mat-nav-list>

    <ng-template #parentMenu let-menu="menu"  >
      <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
          true}" style="padding: 8px;   font-size: 1rem !important">
        <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
      </mat-list-item>
    </ng-template>

    <ng-template #childMenu let-menu="menu">
      <mat-expansion-panel style="background: #002b5c; color: aliceblue; margin-left: 5px;text-decoration:none; text-transform: none;"
        [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header >
          <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children" style="padding: 8px;"
            routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
                  true}">
            <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}} 
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </ng-template>




    <mat-divider></mat-divider>
  <span class="flexExpand"></span>
            <button mat-button class="menu-button font-5" (click)="volverInicio()"> <mat-icon
                class="material-symbols-outlined">exit_to_app</mat-icon><span>Salir</span></button>  

  </mat-sidenav>
  <mat-sidenav-content>
    <main class="container-fluid mb-2">

      <section id="section-main">
        <router-outlet></router-outlet>
      </section>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footersimple></app-footersimple>