.card {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  
  padding: 15px;
}

.card-title {
  padding: 10px 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #012970;
  text-align: left;
  
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}
.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #6c757d;
  text-align: left;
}
.sales-card{
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 15px rgba(1, 41, 112, 0.1);
  
}

  .myInput {
    height: 30px !important;
    width: 90% !important;
    padding: 10px !important;
  }

  /* Para Angular Material cards y divs */
.mat-card, .mat-card-content, .mat-card-header, .mat-card-title, .mat-card-subtitle, .mat-card-actions, .mat-card-footer {
  background: transparent !important;
  box-shadow: none !important;
}
.card, .card-body, .card-header, .card-footer {
  background: transparent !important;
  box-shadow: none !important;
}