<app-container>

  <app-block class="d-block text-center  ">
    <!-- Cabecera -->


    <div class="row  mb-3" style=" display: flex; justify-content: center; align-items: center; ">
      <div class="col-md-12">
        <img src="../../../assets/img/logo_sin_fondo.png" alt="Logo" alt="Logo"
          style="width:350px;max-width:80%;height:auto;border:none;text-decoration:none;color:#ffffff;">
      </div>

    </div>

    <!-- <mat-divider class="mt-2 mb-2 bg-primary"></mat-divider> -->

    <div class="row  ">
      <div class="col-md-12 pagetitle">
        <h2 style="line-height: 1.2; font-weight: bold;font-size: 24px; margin: 0 0 0 0">
          <span>DASHBOARD</span>
          <!-- <span style=" color: #424B54;"> al dasboard</span><br> -->

        </h2>
      </div>
    </div>
    <!-- <mat-divider class="mb-2 bg-primary"></mat-divider> -->

    <div class="row ">
      <div class="col-md-12">
        <h6 class="">Pantalla de resumen para la gestión de la plataforma RISK-ID.</h6>
      </div>
    </div>




    <!-- <mat-divider class="mb-2 mt-2 bg-primary"></mat-divider> -->
  </app-block>


</app-container>
<app-container>

  <app-block class="d-block  dashboard ">

    <div class="row">


      <div class="row">


        <div class="col-md-4">
          <div class="card info-card sales-card">

            <h5 class="card-title ms-3 mt-1">Cotizaciones </h5>
            <div class="card-body">
            

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-file-text"></i>
                </div>
                <div class="ps-3">
                  <h6>{{cntCotiAbierta}}</h6>
                  <span class="text-success small pt-1 ">Abiertas</span>

                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="col-md-4">
          <div class="card info-card revenue-card">

            <h5 class="card-title ms-3 mt-1">Cotizaciones </h5>
            <div class="card-body">
             

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-file-check"></i>
                </div>
                <div class="ps-3">
                  <h6>{{cntCotiCerrada}}</h6>
                  <span class="text-muted small pt-2 ps-1">Cerradas</span>

                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="col-md-4">

          <div class="card info-card customers-card">


            <h5 class="card-title ms-3 mt-1">Solicitudes </h5>
            <div class="card-body">
            

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-file-text"></i>
                </div>
                <div class="ps-3">
                  <h6>{{cntsolicitudes}}</h6>
                  <span class="text-muted small pt-2 ps-1">Total Solicitudes</span>

                </div>
              </div>

            </div>
          </div>

        </div>



      </div>



    </div>


  </app-block>
</app-container>
<app-container [border]="true">
  <app-block class="d-block   ">

    <div class="row">
      <div class="col-12">
        <div class="card  ">

          <h5 class="card-title ms-3 mt-1">Cotizaciones <span>| Gráfico</span></h5>
          <div class="card-body-table">
             
            <ng-container *ngIf="lineChartOptions">
              <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                [dataLabels]="chartOptions.dataLabels!" [plotOptions]="chartOptions.plotOptions!"
                [responsive]="chartOptions.responsive!" [xaxis]="chartOptions.xaxis!" [legend]="chartOptions.legend!"
                [fill]="chartOptions.fill!"></apx-chart>
              </ng-container>
            
          </div>

        </div>
      </div>

    </div>



  </app-block>

</app-container>

<app-container [border]="true">
  <app-block class="d-block   ">

    <div class="row">
      <div class="col-12">
        <div class="card   ">

          <h5 class="card-title ms-3 mt-1">Cotizaciones <span>| Ultimas 5 recibidas</span></h5>
          <div class="card-body-table">
         
            <app-resumen-cotizacion-list [tipoconsulta]="'C'"></app-resumen-cotizacion-list>
          </div>

        </div>
      </div>

    </div>



  </app-block>

</app-container>
<app-container [border]="true">
  <app-block class="d-block   ">

    <div class="row">
      <div class="col-12">
        <div class="card  ">

          <h5 class="card-title ms-3 mt-1">Solicitudes <span>| Ultimas generadas</span></h5>
          <div class="card-body-table">
            <app-resumen-solicitud-list [tipoconsulta]="'M,N'"></app-resumen-solicitud-list>
           
          </div>

        </div>
      </div>

    </div>



  </app-block>

</app-container>
<app-container>
  <app-block class="d-block   ">

    <div class="row">
      <div class="col-12">
        <div class="card   ">

          <h5 class="card-title ms-3 mt-1">Hardware <span>| Inventario</span></h5>
          <div class="card-body-table">
           
              <app-inventario-disponible-list></app-inventario-disponible-list>


          </div>

        </div>
      </div>

    </div>



  </app-block>

</app-container>