<app-title-page title="Mantenedor / cargos_personales"></app-title-page>
<ng-container>
    <app-title-page 
    title="cargos_personales" 
    btn-icon="add" 
    btn-text="Agregar" 
    routerLink="add"></app-title-page>

    <app-table 
        (actionClick)="outputAction($event)"
        [border-block]="true"
        [filter-columns]="false"
        [filter]="true"
        [sticky-last]="true"
        [actions]="actionsMaintainer"
        [header-table]="tableHeadMaintainer"
        [tableData]="tableDataMaintainer"></app-table>
</ng-container>
