<div class="pagetitle">
    <h1>Solicitudes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <!-- <li class="breadcrumb-item">Gestión</li> -->
            <li class="breadcrumb-item active">Ver solicitudes</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<app-container>
    <app-preloader *ngIf="preloader" size="small" message="Generando Solicitud....."></app-preloader>
    <app-block>
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">Datos generales</h5>
                <div class="row font-4 mt-2">

                    <div class="col-12 col-ms-6 col-md-12"> <strong style="width: 200px !important;">Código : </strong>
                        <span> {{vcodigosolicitud}} </span>
                    </div>

                    <div class="col-12 col-ms-6 col-md-12"><strong>Dirección : </strong> <span> {{desdireccion}} </span>
                    </div>
                    <div class="col-12 col-ms-6 col-md-12"><strong>Fecha : </strong> <span> {{fecha_string}} </span>


                    </div>
                    <div class="col-12 col-ms-6 col-md-12"><strong>Observación : </strong> <span> {{vobservacion}}
                        </span></div>

                    <!-- <div class="col-12 col-ms-6 col-md-12"><strong>Estado : </strong> <span> {{desestado}} </span></div> -->
                    <div class="col-12 col-ms-6 col-md-12"><strong>Estado : </strong>
                   
                        <span class="badge  font-4  " [class]="colorestados">

                            <small>{{desestado }} </small>

                        </span>

                    
                    </div>
                  

                </div>
            </div>

        </div>
    </app-block>
    <app-block *ngIf="!this.vmP.solicitudEditable">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">Observación de cierre</h5>
                <div class="row font-4 mt-2">

                  
                    <div class="col-12 col-ms-6 col-md-12" >  <span> {{this.vmP.des5}}
                    </span></div>

                </div>
            </div>

        </div>
    </app-block>
    <div class="card" *ngIf="tipoSolExistente || tipoSolNuevo">
        <div class="card-body">
            <h5 class="card-title" *ngIf="tipoSolExistente">Hardware para mantención</h5>
            <h5 class="card-title" *ngIf="tipoSolNuevo">Hardware nuevo</h5>


            <app-table [border-block]="true" [filter-columns]="false" [filter]="true" [sticky-last]="true"
                [header-table]="tableHeadMaintainer" [tableData]="tableDataMaintainer"></app-table>




        </div>
    </div>
    <div class="card" *ngIf="tipoSolExistente || tipoSolNuevo">
        <div class="card-body">
            <h5 class="card-title" >Comentarios</h5>
        

           <app-observaciones-solicitud-list></app-observaciones-solicitud-list>




        </div>
    </div>
    <app-block>
        <div class="row">
            <div class="col-12 col-ms-6 col-md-12 text-end font-3">

                <button type="button" (click)="volver()" class="btn btn-primary text-light ms-3">
                    <mat-icon class="material-symbols-outlined align-middle me-1">arrow_back_ios</mat-icon>
                    <span class="align-middle">Volver</span>
                </button>

            </div>
        </div>
    </app-block>
</app-container>