<!-- <app-title-page title="Agregar Empresa" [back]="true"></app-title-page> -->
<div class="pagetitle">
  <h1>Gestión de Centros de Trabajo</h1>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/gestion/centros-de-trabajo">Gestión de Centros de Trabajo</a></li>
          <li class="breadcrumb-item active">Editar</li>
      </ol>
  </nav>
</div><!-- End Page Title -->
<app-centrosdetrabajos-form *ngIf="modelo"
  [modelo]="modelo"
  (cancelar)="cancelar()"
  (guardar)="guardar()"
></app-centrosdetrabajos-form>
