<app-container>
    <div class="home-admin-container">
    <div class="home-admin-header-row ">
        <div class="home-admin-header">
            <h2>¡Una solución pensada TI!</h2>
            <p>
                Acá podrás gestionar todo el ciclo de vida de los equipos de tu organización.<br>
                Centralizando la gestión, ahorrando tiempo, sumando trazabilidad y optimizando las tareas.
            </p>
        </div>
        <div class="home-admin-saludo-slide">
            <span>¡Hola Juan Felipe Hernandez!</span>
            <span class="asesor">Tu asesor comercial es: <b>Natalia Meza</b></span>
        </div>
    </div>
    <div class="home-admin-main">
        <div class="home-admin-row">
            <button class="home-btn btn btn-primary">Cotiza en <span class="enlace">gtek</span></button>
            <button class="home-btn btn btn-primary">Nuevas solicitudes</button>
            <div class="home-admin-slide">
                <div class="side-recomendaciones">
                    <h4>Recomendaciones para ti</h4>
                    <ul>
                        <li>Canal de denuncias <span class="nuevo">Nuevo</span></li>
                        <li>Añade nuevos usuarios</li>
                        <li>Añade nuevas empresas</li>
                        <li>Añade más colaboradores</li>
                        <li>Aumenta tu facturación (DTEs)</li>
                        <li>Conecta tus bancos</li>
                        <li>Solicita ayuda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="home-admin-banner">
        <div class="banner-item">Videoconferencia</div>
        <div class="banner-item">Nueva línea Lenovo</div>
        <div class="banner-item">Promo en Office</div>
        <div class="banner-item">Sabias que ?</div>
    </div>
</div>
</app-container>
