<app-container>
    <div class="home-admin-container">
    <div class="home-admin-header-row ">
        <div class="home-admin-header">
            <h2>¡Una solución pensada para ti !</h2>
            <p>
                Acá podrás gestionar todas las tareass.
            </p>
        </div>
     
    </div>
    <div class="home-admin-main">
        <div class="home-admin-row">
            <button class="home-btn btn btn-primary">Nuevo Accidente</button>
            <button class="home-btn btn btn-primary">Nuevo excel</button>
            <div class="home-admin-slide">
                <div class="side-recomendaciones">
                    <h4>Recomendaciones para ti</h4>
                    <ul>
                        <li>Agregar Accidente <span class="nuevo">Nuevo</span></li>
                        <li>Añade nuevos usuarios</li>
                        <li>Añade nuevas empresas</li>
                        <li>Añade más colaboradores</li>
                        <li>Solicita ayuda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="home-admin-banner">
        <div class="banner-item">Info 1</div>
        <div class="banner-item">Info 2</div>
        <div class="banner-item">Info 3</div>
        <div class="banner-item">Info 4</div>
    </div>
</div>
</app-container>
